
body{
    margin: 0%;
    padding: 0%;
}
.home-container{
    background-image: url(../got_theme/images/home1.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position: center;

}

.home-head{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    /* max-width: 1200px; */
    margin: auto;
    color: white;
}

.logo-name{
    font-family: weird-font;
    margin: 0%;
    font-size: 40px;
}

.name-details{
    font-family: gotfont;
    font-size: 33px;

}
.padding{
    padding-left: 50px;
}

.logo-weds{
    margin: 0%;
    font-family: gotfont;
    font-size: 14px;
    padding-left: 27px;
}
.menu-help{
    padding-right: 69px;
    padding-top: 29px;
}

.announce{
    min-height: 77vh;
    text-align: center;
    font-family: gotfont;
    /* top: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.brown-band{
        z-index: 200;
    /* margin-top: 24%; */
    /* margin-bottom: 20%; */
    /* padding-top: 20%; */
    font-size: 38px;
    background-color: rgba(47, 19, 10, 1);
    border: 4px solid #000000;
}

.brown-circle{
    z-index:100;
    background: #2F130A;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 43pz;
    /* padding: 92px; */
    /* z-index: -2; */
    position: absolute;
    align-self: center;
    padding: 48px;
}

.shadow-circle{
    z-index:50;
    background: #F3F7B4;
box-shadow: 0px 0px 250px #F3F7B4;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 48px;
    position: absolute;
    align-self: center;

}



.date{
    margin: 9px;
    font-size: 15px;
}
.day{
    margin: 0%;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.59);
}

@font-face{
    font-family: 'gotfont';
    src: url('fonts/gotfont.ttf');


}

@font-face{
    font-family: 'weird-font';
    src: url('../got_theme/fonts/TrajanusBriXInvers.ttf');


}

@media only screen and (max-width:760px){
    .home-head{
        padding: 8px;
    }


    .menu-help {
        padding-right: 11px;
        padding-top: 19px;
        width: 36px;
    }
    .logo-name{
        font-size: 29px;
    }
    .name-details{
        font-size: 20px;
    }
    .logo-weds{
        font-size: 11px;
    }

     .shadow-circle{
        width: 50px;
        height: 80px;
        
    }

    .brown-circle{
        padding: 35px;
    width: 184px;
    height: 184px;

    }
    .date{
        margin: 6px;
    /* margin: 9px; */
    font-size: 15px;
    }

    .day{
        font-size: 10px;
    }

    .brown-band{
        font-size: 21px;
    }
}