---
title: got
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.data[page.title].bride_name | split:' ' | first }} Weds {{ site.data[page.title].groom_name | split:' ' | first }} - Weddingo">
    <meta name="keywords" content="{{ site.data[page.title].bride_name | split:' ' | first }} Weds {{ site.data[page.title].groom_name | split:' ' | first }} , Weddingo, {{ site.data[page.title].bride_name | split:' ' | first }} and {{ site.data[page.title].groom_name | split:' ' | first }}">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invitation</title>
    <link rel="stylesheet" type="text/css" href="invitation.css">
    <link rel="stylesheet" href="homepage.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
</head>

<body>
    <div class="code-div" style="  
    background-image:  url(../got_theme/images/Invitation1.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.72); 
   
    height: 100%;
    width: 100%;
    position: fixed;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 2s all;
    z-index: 999;
   ">

        <div class=" got-head got-font">
            <p class="got-font-small no-margin"> A </p>
            <p class="got-font-big  "> WEDDING</p>
            <P class="got-font-small no-margin">I S</P>
            <P class="got-font-medium ">COMING</P>
        </div>
        <br>

        <div class="houses got-font">
            <div>
                <p class="no-margin name-details">HOUSE OF {{ site.data[page.title].bride_name | split: ' ' | last }}</p>
                <img class="house-logo" src="../got_theme/images/targaryen.png">

                <p class="name-details media-name">{{site.data[page.title].bride_name | split: ' ' | first}}</p>
            </div>

            <div class="and-div"> <span class="and">& </span> </div>

            <div>
                <p class="no-margin name-details">HOUSE OF {{ site.data[page.title].groom_name | split: ' ' | last }}</p>
                <img class="house-logo" src="../got_theme/images/stark.png">



                <P class="name-details media-name">{{ site.data[page.title].groom_name | split: ' ' | first }}</P>
            </div>


        </div>




        <div class="got-footer got-font">
            <p class="got-footer-font">AND WE REQUEST THE HONOUR OF YOUR PRESENCE</p>
            <input class="enter-code-got" type="text" id="code-box">
            <p class="got-footer-font ">SECRET CODE</p>



            <button class="enter-button" id="openinvitation"><b>ENTER THE REALM</b> </button>

        </div>
        <br>

    </div>

   

    <div class="home-container">

            <div class="home-head">
            <div>
                <p class="logo-name"><span >{{ site.data[page.title].bride_letter }}</span><span class="name-details" >{{ site.data[page.title].bride_rest }}</span></p> 
                <p class="logo-weds">weds</p> 
                <p class="logo-name padding"><span >{{ site.data[page.title].groom_letter }}</span><span class="name-details" >{{ site.data[page.title].groom_rest }}</span></p>
            </div>
            <svg class="menu-help" width="49" height="27" viewBox="0 0 49 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.53121 3H47.4688C48.3141 3 49 2.32793 49 1.5C49 0.671946 48.3139 0 47.4688 0H1.53121C0.685928 0 0 0.672071 0 1.5C0 2.32793 0.686055 3 1.53121 3Z" fill="#F6F6D2"/>
                <path d="M47.7499 13H10.25C9.55994 13 9 13.56 9 14.25C9 14.9399 9.56004 15.4999 10.25 15.4999H47.7499C48.44 15.4999 48.9999 14.9399 48.9999 14.25C48.9999 13.56 48.44 13 47.7499 13Z" fill="#F6F6D2"/>
                <path d="M47.7499 24.5H22.75C22.0599 24.5 21.5 25.06 21.5 25.75C21.5 26.44 22.06 26.9999 22.75 26.9999H47.7499C48.44 26.9999 48.9999 26.4399 48.9999 25.75C49 25.0599 48.44 24.5 47.7499 24.5Z" fill="#F6F6D2"/>
                </svg>
            </div>
            
            
            
            
            <div class="announce">
                
            <div class="brown-band">
            <p >{{ site.data[page.title].bride_name | split: ' ' | first }} WEDS {{ site.data[page.title].groom_name | split: ' ' | first }}</p>
            </div>
            
            <div class="brown-circle">
                <p class="date"> {{ site.data[page.title].wedding_details.date | split: 'T' | first }}</p>
                 <p class="day"> {{ site.data[page.title].wedding_details.day_name }}</p>
                </div>
            
                <div class="shadow-circle">
                        
                        </div> 
            
            </div>
            
            
            </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

     <div id="eye-gif"
        style=" position: absolute; top: 0%;
        z-index: 2000000;
    
     height:100%; width: 100%; background-size: cover; background-repeat: no-repeat;background-image: url(https://1.bp.blogspot.com/-HWz7g7TYVQ8/V5-9R6fHhYI/AAAAAAAAADA/xGpSFiWi-UwX-dIS7zQ4pG9C-FO8r0K1QCLcB/s1600/smaug%2B5.gif);">

    </div>
    
    <script>
        jQuery(document).ready(function(){
            jQuery('#eye-gif').hover( function(){
                jQuery('#eye-gif').delay(900).fadeOut();
                jQuery('#eye2-gif').fadeIn();
            });
        });
    </script>

<div id="eye2-gif" style="position: absolute; top: 0%; height: 100%; width: 100%;
z-index: 1000000;background-size: cover; background-repeat: no-repeat;background-image: url(../got_theme/images/eye2.png);">
    
</div>

<div id="black" style="position: absolute; top:0%; height: 100%; width: 100%; background: black; z-index: 5000;">
</div>
<script>
        jQuery(document).ready(function(){
            jQuery('#eye2-gif').hover( function(){
                jQuery('#eye2-gif').delay(1000).fadeOut();
                jQuery('#black').fadeIn();
               
                
                            });
        });
    </script>

<script>
        jQuery(document).ready(function(){
            jQuery('#black').hover( function(){
                
                jQuery('#black').delay(1000).fadeOut();
                
                            });
        });
    </script>



    <script>
        jQuery(document).ready(function () {
            jQuery('#openinvitation').click(function () {

                if (jQuery('#code-box').val().indexOf("1725") != -1) {

                    // jQuery('body').css({
                    //     'overflow': 'scroll'
                    // });
                    jQuery('.code-div').css('top', '-100%');
                }
                else{
                    jQuery('.enter-code-got').css('background', ' #d80202');
                    jQuery('.enter-code-got').css('color', 'black');
                    jQuery('.enter-code-got').css('border', ' 3px solid #730707');
                    
                };

               

            });


        })


    </script>

     <!--Google analytics code-->
     <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ site.data[page.title].analytic_code_key }}', 'auto');
        ga('send', 'pageview');

    </script>


</body>

</html>