---
title: jekyll codes
date: 19/07/12T17:40:09
---

<h2>Date Formats</h2>
<ul>
  <li>{{ page.date }}</li>
  <li>{{ page.date | date_to_long_string }}</li>
  <li>{{ page.date | date_to_rfc822 }}</li>
  <li>{{ page.date | date_to_string }}</li>
  <li>{{ page.date | date_to_xmlschema }}</li>
  <li>{{ page.date | date: "%d -- %m -- %Y" }}</li>
  <li>{{ page.date | date: "%-d %B %Y" }}</li>
  <li>{{ page.date | date: "%-d-%B-%Y" | split:'-'  | first}}</li>
  <li>{{ page.date | date: "%H:%M" | date: "%r"}}</li>
  <li>
    {% assign day = page.date | date: "%-d" %}
    {% case day %}
      {% when '1' or '21' or '31' %}{{ day }}st
      {% when '2' or '22' %}{{ day }}nd
      {% when '3' or '23' %}{{ day }}rd
      {% else %}{{ day }}th
    {% endcase %}
    {{ page.date | date: "of %B, %Y" }}
  </li>
</ul>

<h2>Cheat Sheet</h2>
<p>Find cheat sheet <a target="_new" href="https://learn.cloudcannon.com/jekyll-cheat-sheet/">over here</a></p>

<p>{{ page.title | capitalize }}</p>
<p>{{ page.title | split: ' ' | first | capitalize }}</p>




<h2>MENU FOR LOOP</h2>
<ul>

  {% assign sortedmenu = site.data.ishitawedsakshay.menu_items | sort: 'sortorder' %}
  {% for menu in sortedmenu %}
  {% assign remainder = forloop.index | modulo: 2 %}
  <p>{{ remainder }}</p>
  {% if remainder == 0 %}
  <p>values</p>
  {% endif %}
    {% if menu.visible %}
      <li>

          {{ menu.name }}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>SHOW SECTION CONDITION</h2>

{% if site.data.ishitawedsakshay.menu_items[1].visible %}
<div>

  ABOUT US

</div>
{% endif %}