///*--------------------------------------------------------------
//#1.6	gallery
//--------------------------------------------------------------*/
//
//.gallery {
//    background-color: #fef0ee;
//    padding-bottom: 0;
//    overflow: hidden;
//}
//
//.gallery ul {
//    text-align: center;
//    margin-bottom: 60px;
//}
//
//.gallery ul li {
//    display: inline-block;
//}
//
//.gallery ul li a {
//    display: block;
//    color: #1e1e1e;
//    padding: 12px;
//    border: 1px solid #ee8397;
//}
//
//.gallery ul li .active {
//    background-color: $primary-color;
//    color: #fff;
//}
//
//.gallery #shuffle-wrapper .col {
//    padding: 0;
//    position: relative;
//    display: block;
//    visibility: visible;
//    box-sizing: border-box;
//}
//
//.gallery #shuffle-wrapper a {
//    display: block;
//    position: relative;
//    overflow: hidden;
//}
//
//.gallery #shuffle-wrapper .overlay {
//    background: $primary-color no-repeat center center;
//    opacity: .5;
//    width: 100%;
//    height: 100%;
//    position: absolute;
//    top: 0;
//    visibility: hidden;
//    -webkit-transition: all 0.3s;
//    transition: all 0.3s;
//    -webkit-transform: scale(0, 0);
//    transform: scale(0, 0);
//}
//
//.gallery #shuffle-wrapper .col:hover .overlay {
//    visibility: visible;
//    -webkit-transform: scale(1, 1);
//    transform: scale(1, 1);
//    z-index: 5;
//}
//
//.gallery #shuffle-wrapper .col img {
//    width: 100%;
//    display: block;
//    -webkit-transform: scale(1.1, 1.1);
//    transform: scale(1.1, 1.1);
//    -webkit-transition: all 0.5s;
//    transition: all 0.5s;
//}
//
//.gallery #shuffle-wrapper .col:hover img {
//    -webkit-transform: scale(1.3, 1.3);
//    transform: scale(1.3, 1.3);
//}
//
//.img-caption {
//    position: absolute;
//    z-index: 5;
//    background-color: $primary-color;
//    border-radius: 3px;
//    top: 86%;
//    right: 10px;
//    width: 95%;
//    margin: 0 auto;
//    text-align: center;
//    color: white;
//    padding: 5px;
//    
//}
//
//#shuffle-wrapper {
//
//}
//
//
//@media only screen and (max-width: 900px) {
//    .img-caption {
//        top: 81%;
//        padding: 3px;
//        right: 5px;
//    }
//
//}
//
//@media only screen and (max-width: 767px) {
//    .img-caption {
//        top: 89%;
//        padding: 2px;
//        right: 11px;
//
//    }
//}
//
//
//
//@media only screen and (max-width: 550px) {
//    .img-caption {
//        top: 86%;
//        right: 7px;
//    }
//
//}
//
//
//@media only screen and (max-width: 400px) {
//    .img-caption {
//        top: 80%;
//        padding: 0px;
//        
//        
//
//    }
//
//}
//
//
//
////Modal Image
//
//
//.w3-modal {
//    z-index: 20;
//    display: none;
//    padding-top: 100px;
//    position: fixed;
//    left: 0;
//    top: 0;
//    width: 100%;
//    height: 100%;
//    overflow: auto;
//    background-color: rgb(0,0,0);
//    background-color: rgba(0,0,0,0.4);
//}
//
//
//.w3-black, .w3-hover-black:hover {
//    color: #fff!important;
//    background-color: #000!important;
//}
//
//.w3-large {
//    font-size: 18px!important;
//}
//.w3-display-topright {
//    position: absolute;
//    right: 0;
//    top: 0;
//}
//
//.w3-btn, .w3-button {
//    border: none;
//    display: inline-block;
//    padding: 8px 16px;
//    vertical-align: middle;
//    overflow: hidden;
//    text-decoration: none;
//    color: inherit;
//    background-color: inherit;
//    text-align: center;
//    cursor: pointer;
//    white-space: nowrap;
//}
//
//.fa {
//    display: inline-block;
//    font: normal normal normal 14px/1 FontAwesome;
//    font-size: inherit;
//    text-rendering: auto;
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//}
//
//
//.w3-transparent, .w3-hover-none:hover {
//    background-color: transparent!important;
//}
//.w3-padding-64 {
//    padding-top: 64px!important;
//    padding-bottom: 64px!important;
//}
//
//.w3-center {
//    text-align: center!important;
//}
//.w3-animate-zoom {
//    animation: animatezoom 0.6s;
//}
//
//@media only screen and (max-width: 900px) {
//    .w3-modal-content {
//    width: auto !important;
//    }
//        
//
//    }
//
//
//.w3-modal-content {
//    margin: auto;
//    background-color: #fff;
//    position: relative;
//    padding: 0;
//    outline: 0;
//    width: 600px;
//    top: 80px;
//}
//
//.w3-image {
//    max-width: 100%;
//    height: auto;
//}
//
//.w3-large {
//    font-size: 18px!important;
//}
//
//.w3-opacity, .w3-hover-opacity:hover {
//    opacity: 0.60;
//}
//
//

.gallery-title
{
    font-size: 36px;
    color: $primary-color;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;
    outline: none;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: $primary-color;
    outline: none;

}
.btn-default:active .filter-button:active, filter-button:focus
{
    background-color: $primary-color;
    color: white;
    outline: none;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    img{
        transition: transform .2s;
    }
    margin-bottom: 30px;
}

.gallery_product:hover
{
//    img {
//        
//        transform: scale(1.02); 
//    }
    .gal-overlay {
        visibility: visible;
    }
}


.gal-overlay {
    cursor: pointer;
    background: $primary-color no-repeat center center;
    opacity: .5;
    width: 92.6%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    @media only screen and (max-width: 1200px) {
	 width: 91%;
	}
    @media only screen and (max-width: 990px) {
	 width: 88%;
	}
    
    @media only screen and (max-width: 767px) {
	 width: 92%;
	}
    
     @media only screen and (max-width: 400px) {
	 width: 97.5%;
	}
}

.gal-img-caption {
    width: 100%;
    bottom: 0;
    height: 30px;
    color: white;
    background-color: #ff9800;
    text-align: center;
    padding: 5px;
    
//    @media only screen and (max-width: 1200px) {
//	 width: 91%;
//	}
//    
//    @media only screen and (max-width: 990px) {
//	 width: 88%;
//	}
//    
//     @media only screen and (max-width: 767px) {
//	 width: 92%;
//	}
//
//    @media only screen and (max-width: 400px) {
//	 width: 97.5%;
//	}
}

.gallery_product {
    img {
    height: 365px;
    width: 365px;
    object-fit: cover;
    @media only screen and (max-width: 767px) {
    height: 160px;	}
    }
    
    
@media only screen and (max-width: 400px) {
    margin-bottom: 2px;
    box-sizing: border-box;
    padding: 2px;	}
    
}















//Slide CSS



/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1200;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  @media only screen and (max-width: 767px) {
    padding-top: 10vh;	
    }
    
  @media only screen and (max-width: 325px) {
    padding-top: 0px;	
    }
    
    
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  text-shadow: none !important;
   opacity: 1 !important;
    @media only screen and (max-width: 767px) {
    z-index: 1300;
    
    }
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.galery-filter-btns {
    .active {
        background-color: $primary-color !important;
        color: white !important;
        outline: none;
    }
}


