---
title: mrunohit
---
<!DOCTYPE html>
<html lang="en">

<head>



    <meta charset="utf-8">
    <meta name="description" content="{{ site.data[page.title].bride_name | split:' ' | first }} Weds {{ site.data[page.title].groom_name | split:' ' | first }} - Weddingo">
    <meta name="keywords" content="{{ site.data[page.title].bride_name | split:' ' | first }} Weds {{ site.data[page.title].groom_name | split:' ' | first }} , Weddingo, {{ site.data[page.title].bride_name | split:' ' | first }} and {{ site.data[page.title].groom_name | split:' ' | first }}">   
    <meta name="author" content="Weddingo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.data[page.title].bride_name | split:' ' | first }} Weds
        {{ site.data[page.title].groom_name | split:' ' | first }} - Weddingo</title>
    <link href="https://www.weddingo.in/images/Favicon/android-icon-144x144.png" rel="icon">
    <link rel="dns-prefetch" href="https://www.weddingo.in/">
    <link rel="prefetch" href="images/slider/slider-1.jpg">
    <link rel="prefetch" href="images/slider/slider-2.jpg">

    <link rel="dns-prefetch" href="https://www.pixoloproductions.com">
    <link rel="dns-prefetch" href="http://pixoloproductions.com">

    <style>
        /******************************************SITE LOADER**********************************************/

        body {
            margin: 0px !important;
        }

        .site-loder {
            width: 100%;
            height: 100%;
            background-color: #fff;
            position: fixed;
            z-index: 2000;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .site-loder .heart {
            display: block;
            top: 50%;
            left: 50%;
            height: 70px;
            width: 50px;
            margin: -35px 0 0 -25px;
            -webkit-animation: lodingAnimation 0.5s ease-in-out infinite alternate;
            animation: lodingAnimation 0.5s ease-in-out infinite alternate;
        }

        .site-loder .heart:after,
        .site-loder .heart:before {
            background-color: #df2349;
            position: absolute;
            content: "";
            left: 40px;
            top: 0;
            width: 40px;
            height: 70px;
            border-radius: 50% 50% 0 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
        }

        .site-loder .heart:after {
            left: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        @-webkit-keyframes lodingAnimation {
            from {
                -webkit-transform: scale(0.5, 0.5);
            }

            to {
                -webkit-transform: scale(1, 1);
            }
        }

        @keyframes lodingAnimation {
            from {
                transform: scale(0.5, 0.5);
            }

            to {
                transform: scale(1, 1);
            }
        }

        /*********************************************************************************************************/

        .body-div {
            display: none;
        }

        @font-face {
            font-family: textfont;
            src: url(https://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/69b40392-453a-438a-a121-a49e5fbc9213.woff2);
        }

        .textfont {
            font-family: textfont;
            font-weight: 600;
        }

        .em1-2 {
            font-size: 1.2em !important;
        }

        .em1-5 {
            font-size: 1.5em !important;
        }

        .disp-block {
            display: block !important;
        }

        .married-text {
            font-family: 'Lobster', cursive;
            line-height: 1.2;
            font-size: 2.5em;
            font-weight: 500;
            display: block;
        }

        .date-text {
            font-family: 'Lobster', cursive;
            font-size: 1.5em;
            font-weight: 500;
            display: block;
        }

        .popupoverlay {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 1000;
            perspective: 1000px;
            animation-fill-mode: both;
        }

        .popup {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            transition: 0.6s;
            transform-style: preserve-3d;
            position: relative;
            background-image: url("themes/{{site.data[page.title].color}}/popup.png");
        }

        .popupelementsdiv {
            position: absolute;
            text-align: center;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            z-index: 2;
            transform: rotateY(0deg);
            padding-bottom: 25px;
        }

        .popupelementsdiv p {
            font-family: 'Dancing Script', cursive;
            font-size: 22px;
            top: 16px;
            position: relative;
            line-height: 32px;
        }

        .popupelementsdiv-back {
            text-align: center;
            transform: rotateY(180deg);
        }

        :root {
            --primary-color: {{site.data[page.title].theme_color_code}};
            --theme-folder: {{site.data[page.title].color}};
        }

        .popupcodeinput {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            text-align: center;
            outline: none;
            color: black;
            border: 1px var(--primary-color) solid;
            transition: 0.3s all;
            padding-bottom: 3px;
        }

        .popupcodeinput:focus {
            border: none;
            border-radius: 0px;
            border-bottom: 2px var(--primary-color) solid;
            font-size: 18px;
            padding-bottom: 6px;
        }

        .popupgobtn {
            border: 0px;
            width: 80px;
            height: 40px;
            border-radius: 31px;
            color: white;
            margin-top: 12px;
            transition: 0.3s all;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.28);
            font-size: 2em;
            outline: none;
        }

        .popupgobtn:hover {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.67);
        }

        .popupgobtn:focus {
            color: white;
        }

        .couple-sign {
            margin: 30px 0 0;
            font-size: 35px;
            font-family: 'Dancing Script', cursive;
        }

        @media screen and (max-width: 767px) {
            .popupgobtn {
                height: 30px;
                font-size: 1.5em;
                position: relative;
                bottom: 5px;
            }

            .popupinvalidcode {
                margin-top: 3px;
                font-size: 10px;
            }

            .popupelementsdiv p {
                font-size: 22px;
                top: 16px;
                position: relative;
                line-height: 32px;
            }
        }

        @media screen and (max-width: 600px) {
            .popupgobtn {
                height: 30px;
                font-size: 1em;
            }

            .popupcodeinput {
                height: 25px;
            }

            .popup {
                background-size: 100%;
            }
        }

        @media screen and (max-width: 450px) {
            .popupgobtn {
                height: 20px;
                font-size: 1em;
            }

            .popupcodeinput {
                width: 60%;
                height: 20px;
            }

            .popup {
                background-size: 100%;
            }
        }

        .event-img {
            top: 1px;
        }

        @media only screen and (min-width: 992px) {
            .even-divs {
                display: flex;
                flex-direction: row-reverse;
            }
        }

        .gotogallery-wrap {
            text-align: center;
        }

        .gotogallery-btn {
            margin: 50px auto;
            color: #fff;
            background-color: var(--primary-color);
            padding: 15px 30px;
            display: inline-block;
            text-transform: uppercase;
            transition: .5s all;
            border-radius: 5px;
            box-shadow: 0 0 8px 0px #7b7676;
        }

        .gotogallery-btn:hover {
            color: #fff;
            background: #ef9005;
        }
    </style>
</head>

<body>
    <div>
        <p id="hald&weddingcode" style="display: none">{{site.data[page.title].invite_codes.haldi_reception}}</p>
        <p id="weddingcode" style="display: none">{{site.data[page.title].invite_codes.wedding}}</p>
        <p id="receptioncode" style="display: none">{{site.data[page.title].invite_codes.reception}}</p>
        <p id="forallcode" style="display: none">{{site.data[page.title].invite_codes.forall}}</p>
        <p id="wedding&receptioncode" style="display: none">{{site.data[page.title].invite_codes.wedding_reception}}</p>
    </div>
    <div class="site-loder">
        <div class="heart"></div>
    </div>
    <!-- end of site-loder -->

    <div class="popupoverlay" ontouchstart="this.classList.toggle('hover');">
        <div class="popup" style="transform: rotateY(180deg)">
            <div class="popupelementsdiv-back">
                <h1>Invitation</h1>
                <p>Hey, Enter your code!</p>
                <input type="text" id="invitecode" class="popupcodeinput" value="">
                <p class="popupinvalidcode"></p>
                <button class="popupgobtn" id="go-button">Go</button>
            </div>
            <div class="popupelementsdiv">
                <p class="invite-name"></p>
                <p>We are getting
                    <br><span class="married-text">Married</span> on
                    {% assign ceremonies = site.data[page.title].ceremonies %} {% for ceremony in ceremonies %}
                    <span class="date-text {{ceremony.event-key}}-priority"
                        id="{{ceremony.event-key}}-initital">{{ ceremony.date | date: "%d.%m.%Y" }}</span> {% endfor %}

                </p>
            </div>
        </div>
    </div>
    <!-- end of site-ivitation-code -->
    <div class="body-div">
        <header id="home">
            <nav class="navbar" id="nav">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand"
                            href="index.html">{{ site.data[page.title].bride_name | split:' ' | first }} <i
                            class="fa fa-heart"></i> {{ site.data[page.title].groom_name | split:' ' | first }}</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% assign list = site.data[page.title].menu_list | where:"visible",true %}
                            {% assign obj = list | size %} {% assign value = obj | divided_by : 2 %}
                            {% assign menus = site.data[page.title].menu_list %} {% for menu in menus limit:value %}
                            <li><a href="#{{menu.href}}">{{menu.menu_name}}</a></li>
                            {% endfor %}
                            <li class="theme-logo hidden-xs">
                                <a>
                                    <img src="images/extra/{{ site.data[page.title].logo_img}}" alt="Logo"
                                        class="logo-rotating">

                                    <div>
                                        <div>
                                            <span>{{ site.data[page.title].bride_name | split:' ' | first }}</span>
                                            <span>{{ site.data[page.title].groom_name | split:' ' | first }}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% for menu in menus offset:value %} {% if menu.visible != false %}
                            <li><a href="#{{menu.href}}">{{menu.menu_name}}</a></li>
                            {% endif %} {% endfor %}
                            <!-- <li><a href="#contact">RSVP</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- end of nav -->


            <div class="slider">


                {% assign sliders = site.data[page.title].sliderimages %} {% for slider in sliders %}
                <div class="slide-item slide-img-{{forloop.index}}">

                </div>
                {% endfor %}
                <!--

                <div class="slide-item slide-img-2">

                </div>
-->
            </div>
            <!-- end of slider -->
        </header>
        <!-- end of header -->

        <!--Date Section-->
        <!--
        <div class="date-block">
            <img src="images/home/date-block.png" alt="Date Block">

            <h3>{% assign day = site.data[page.title].wedding_details.date | date: "%-d" %}
                {% case day %}
                {% when '1' or '21' or '31' %}{{ day }}st
                {% when '2' or '22' %}{{ day }}nd
                {% when '3' or '23' %}{{ day }}rd
                {% else %}{{ day }}th
                {% endcase %}
                {{ site.data[page.title].wedding_details.date | date: "%B %Y" }}</h3>

        </div>
-->

        {% assign ceremonies = site.data[page.title].ceremonies %} {% for ceremony in ceremonies %}
        <div class="date-block {{ceremony.event-key}}-priority" id="{{ceremony.event-key}}">
            <img src="themes/date-block.png" alt="Date Block">

            <h3>{% assign day = ceremony.date | date: "%-d" %} {% case day %} {% when '1' or '21' or '31' %}{{ day }}st
                {% when '2' or '22' %}{{ day }}nd {% when '3' or '23' %}{{ day }}rd {% else %}{{ day }}th {% endcase %}
                {{ ceremony.date | date: "%b" }},
                {{ ceremony.date | date: "%Y" }}</h3>

        </div>
        {% endfor %}
        <!-- end of Date Section -->

        {% if site.data[page.title].menu_list[1].visible %}
        <section class="wedding-announcement section-padding" id="couple">
            <div class="heart heart-animation"></div>
            <div class="container">
                <div class="section-heading">
                    <div>
                        <h2>Wedding Announcement</h2>
                        <p class="textfont em1-5">Once upon a time in the middle of an ordinary life
                            <strong>Love</strong> gives us a fairytale.</p>
                    </div>
                </div>

                <div class="row content">
                    <div class="col col-sm-6 left-col">
                        <div class="col col-xs-6 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <div class="frame">
                                <img alt="Frame" class="img img-responsive img-circle announcement-img-frame">

                                <img src="images/bride-groom/comp/{{site.data[page.title].bride_image}}"
                                    data-src="images/bride-groom/{{site.data[page.title].bride_image}}" alt="bride"
                                    class="img img-responsive img-circle img-lazy ">


                            </div>
                            <h3>{{ site.data[page.title].bride_name | split:' ' | first }}</h3>
                            <h4>The Bride</h4>
                            <p class="textfont em1-2">{{ site.data[page.title].bride_desc}}</p>
                            <img style="display: none" src="themes/heart-img.jpg"
                                data-src="images/bride-groom/{{site.data[page.title].groom_name_sign}}" alt="Signature"
                                class="img img-reponsive signature img-lazy  ">
                            <p class="couple-sign">{{ site.data[page.title].bride_name}}</p>
                        </div>
                    </div>
                    <div class="col col-sm-6 right-col">
                        <div class="col col-xs-6 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <div class="frame">
                                <img alt="Frame" class="img img-responsive img-circle announcement-img-frame">


                                <img src="images/bride-groom/comp/{{site.data[page.title].groom_image}}"
                                    data-src="images/bride-groom/{{site.data[page.title].groom_image}}" alt="groom"
                                    class="img img-responsive img-circle img-lazy  ">



                            </div>
                            <h3>{{ site.data[page.title].groom_name | split:' ' | first }}</h3>
                            <h4>The Groom</h4>
                            <p class="textfont em1-2">{{ site.data[page.title].groom_desc}}</p>
                            <img style="display: none" src="images/heart-img.jpg"
                                data-src="images/bride-groom/{{site.data[page.title].groom_name_sign}}" alt="Signature"
                                class="img img-reponsive signature img-lazy ">
                            <p class="couple-sign">{{ site.data[page.title].groom_name}}</p>
                        </div>
                    </div>
                </div>
                <!-- end of content -->
            </div>
            <!-- end of container -->
        </section>
        {% endif %}
        <!-- end of wedding-announcement -->
        {% if site.data[page.title].menu_list[3].visible %}
        <section class="event section-padding" id="events">
            <div class="container">
                <div class="row section-heading">
                    <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h2>The Wedding Events</h2>
                        <p class="textfont em1-5">The events for our marriage.</p>
                    </div>
                </div>
                <div class="content">
                    {% assign events = site.data[page.title].ceremonies %} {% for event in events %}
                    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %} {% if thecycle == 'odd' %}


                    <div class="row haldidate event-div" id="{{event.event-key}}-event">
                        <div class="col col-md-4">
                            <div class="event-frame">
                                <img src="themes/{{site.data[page.title].color}}/frame2.svg" alt="Event Frame"
                                    class="event-img">
                                <img src="images/events/{{event.image}}"
                                    data-progressive="images/events/{{event.image}}" alt="Event Picture"
                                    class="img-responsive progressive__img progressive--not-loaded">

                            </div>
                        </div>
                        <div class="event-block event-padding col col-md-8">
                            <h3>{{event.title}}</h3>
                            <p><span>
                                    <svg enable-background="new 0 0 58 58" version="1.1" viewBox="0 0 58 58"
                                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <polygon points="42 5 16 5 1 5 1 18 57 18 57 5" fill="#26B99A" />
                                        <circle cx="20" cy="9" r="2" fill="#38454F" />
                                        <circle cx="26" cy="9" r="2" fill="#38454F" />
                                        <circle cx="32" cy="9" r="2" fill="#38454F" />
                                        <circle cx="38" cy="9" r="2" fill="#38454F" />
                                        <path
                                            d="M38,0c-1.13,0-2.162,0.391-3,1.025c0.534,0.405,0.979,0.912,1.315,1.495C36.796,2.192,37.376,2,38,2  c1.654,0,3,1.346,3,3s-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5S40.757,0,38,0z"
                                            fill="#AFB6BB" />
                                        <path
                                            d="M33.685,2.52C33.261,3.254,33,4.093,33,5h2C35,3.97,34.478,3.061,33.685,2.52z"
                                            fill="#839594" />
                                        <path
                                            d="M27.685,2.52C27.261,3.254,27,4.093,27,5h2C29,3.97,28.478,3.061,27.685,2.52z"
                                            fill="#839594" />
                                        <path
                                            d="M36.315,2.52C35.979,1.937,35.534,1.43,35,1.025C34.162,0.391,33.13,0,32,0s-2.162,0.391-3,1.025  c0.534,0.405,0.979,0.912,1.315,1.495C30.796,2.192,31.376,2,32,2s1.204,0.192,1.685,0.52C34.478,3.061,35,3.97,35,5  c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5C37,4.093,36.739,3.254,36.315,2.52z"
                                            fill="#AFB6BB" />
                                        <path
                                            d="M21.685,2.52C21.261,3.254,21,4.093,21,5h2C23,3.97,22.478,3.061,21.685,2.52z"
                                            fill="#839594" />
                                        <path
                                            d="M30.315,2.52C29.979,1.937,29.534,1.43,29,1.025C28.162,0.391,27.13,0,26,0s-2.162,0.391-3,1.025  c0.534,0.405,0.979,0.912,1.315,1.495C24.796,2.192,25.376,2,26,2s1.204,0.192,1.685,0.52C28.478,3.061,29,3.97,29,5  c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5C31,4.093,30.739,3.254,30.315,2.52z"
                                            fill="#AFB6BB" />
                                        <path
                                            d="M24.315,2.52C23.979,1.937,23.534,1.43,23,1.025C22.162,0.391,21.13,0,20,0c-2.757,0-5,2.243-5,5h2  c0-1.654,1.346-3,3-3c0.624,0,1.204,0.192,1.685,0.52C22.478,3.061,23,3.97,23,5c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1  s0.447,1,1,1c2.757,0,5-2.243,5-5C25,4.093,24.739,3.254,24.315,2.52z"
                                            fill="#AFB6BB" />
                                        <rect x="1" y="18" width="56" height="40" fill="#EDEADA" />
                                        <circle cx="13" cy="29" r="5" fill="#CEC9AE" />
                                        <circle cx="29" cy="29" r="5" fill="#CEC9AE" />
                                        <circle cx="45" cy="29" r="5" fill="#CEC9AE" />
                                        <circle cx="13" cy="45" r="5" fill="#CEC9AE" />
                                        <circle cx="29" cy="45" r="5" fill="#CEC9AE" />
                                        <circle cx="45" cy="45" r="5" fill="#26B99A" />
                                    </svg><span id="ishihaldi">{{ event.date | date: "%d %B"}}</span>
                                    {{ event.date | date: "%Y"}},</span> <span><svg enable-background="new 0 0 58 58"
                                        version="1.1" viewBox="0 0 58 58" xml:space="preserve"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="29" cy="29" r="29" fill="#E7ECED" />
                                        <path
                                            d="M29,4c13.785,0,25,11.215,25,25S42.785,54,29,54S4,42.785,4,29S15.215,4,29,4 M29,0  C12.984,0,0,12.984,0,29s12.984,29,29,29s29-12.984,29-29S45.016,0,29,0L29,0z"
                                            fill="#424A60" />
                                        <g fill="#7383BF">
                                            <path
                                                d="m29 5.879c-0.552 0-1 0.447-1 1v1c0 0.553 0.448 1 1 1s1-0.447 1-1v-1c0-0.553-0.448-1-1-1z" />
                                            <path
                                                d="m29 48.879c-0.552 0-1 0.447-1 1v1c0 0.553 0.448 1 1 1s1-0.447 1-1v-1c0-0.553-0.448-1-1-1z" />
                                            <path
                                                d="m51 27.879h-1c-0.552 0-1 0.447-1 1s0.448 1 1 1h1c0.552 0 1-0.447 1-1s-0.448-1-1-1z" />
                                            <path
                                                d="m8 27.879h-1c-0.552 0-1 0.447-1 1s0.448 1 1 1h1c0.552 0 1-0.447 1-1s-0.448-1-1-1z" />
                                            <path
                                                d="m43.849 12.615-0.707 0.707c-0.391 0.391-0.391 1.023 0 1.414 0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293l0.707-0.707c0.391-0.391 0.391-1.023 0-1.414s-1.023-0.391-1.414 0z" />
                                            <path
                                                d="m13.444 43.021-0.707 0.707c-0.391 0.391-0.391 1.023 0 1.414 0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293l0.707-0.707c0.391-0.391 0.391-1.023 0-1.414s-1.024-0.39-1.414 0z" />
                                            <path
                                                d="m44.556 43.021c-0.391-0.391-1.023-0.391-1.414 0s-0.391 1.023 0 1.414l0.707 0.707c0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.023 0-1.414l-0.707-0.707z" />
                                            <path
                                                d="m14.151 12.615c-0.391-0.391-1.023-0.391-1.414 0s-0.391 1.023 0 1.414l0.707 0.707c0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.023 0-1.414l-0.707-0.707z" />
                                        </g>
                                        <line x1="26" x2="18" y1="28.879" y2="28.879" fill="none" stroke="#424A60"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="2" />
                                        <line x1="29" x2="29" y1="25.879" y2="14.879" fill="none" stroke="#424A60"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="2" />
                                        <circle cx="29" cy="28.879" r="3" fill="none" stroke="#424A60"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="2" />
                                    </svg><span class="ishihalditime">{{event.datetime | date:"%r"}} </span>, </span> <a
                                    class="location-pop-btn" href="{{event.google_map_link}}" target="_blank"><span
                                        class="animated flash infinite"><i class="fa fa-map-marker"></i></span><span
                                        id="haldiaddress" class="destination-address event-address" data-lat="19.072723"
                                        data-long="72.900152">{{event.address}}</span></a></p>
                            {% if event.dresscode != '' %}
                            <p class="textfont em1-2">Attire : {{event.dresscode}}</p>
                            {% endif %} {% if event.desc != '' %}
                            <p id="haldidesc" class="textfont em1-2">{{event.desc}}</p>
                            {% endif %} {% if event.note != '' %}
                            <p id="haldidesc" class="textfont em1-2">{{event.note}}</p>
                            {% endif %}

                        </div>
                    </div>
                    {% else %}
                    <div class="row middle weddingdate event-div" id="{{event.event-key}}-event">
                        <div class="col col-md-4">
                            <div class="event-frame">
                                <img src="themes/{{site.data[page.title].color}}/frame2.svg" alt="Event Frame"
                                    class="event-img">
                                <img src="images/events/{{event.image}}"
                                    data-progressive="images/events/{{event.image}}" alt="Event Picture"
                                    class="img-responsive progressive__img progressive--not-loaded">
                            </div>
                        </div>
                        <div class="event-block col col-md-8">
                            <h3>{{event.title}}</h3>
                            <p><span>
                                    <svg enable-background="new 0 0 58 58" version="1.1" viewBox="0 0 58 58"
                                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <polygon points="42 5 16 5 1 5 1 18 57 18 57 5" fill="#26B99A" />
                                        <circle cx="20" cy="9" r="2" fill="#38454F" />
                                        <circle cx="26" cy="9" r="2" fill="#38454F" />
                                        <circle cx="32" cy="9" r="2" fill="#38454F" />
                                        <circle cx="38" cy="9" r="2" fill="#38454F" />
                                        <path
                                            d="M38,0c-1.13,0-2.162,0.391-3,1.025c0.534,0.405,0.979,0.912,1.315,1.495C36.796,2.192,37.376,2,38,2  c1.654,0,3,1.346,3,3s-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5S40.757,0,38,0z"
                                            fill="#AFB6BB" />
                                        <path
                                            d="M33.685,2.52C33.261,3.254,33,4.093,33,5h2C35,3.97,34.478,3.061,33.685,2.52z"
                                            fill="#839594" />
                                        <path
                                            d="M27.685,2.52C27.261,3.254,27,4.093,27,5h2C29,3.97,28.478,3.061,27.685,2.52z"
                                            fill="#839594" />
                                        <path
                                            d="M36.315,2.52C35.979,1.937,35.534,1.43,35,1.025C34.162,0.391,33.13,0,32,0s-2.162,0.391-3,1.025  c0.534,0.405,0.979,0.912,1.315,1.495C30.796,2.192,31.376,2,32,2s1.204,0.192,1.685,0.52C34.478,3.061,35,3.97,35,5  c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5C37,4.093,36.739,3.254,36.315,2.52z"
                                            fill="#AFB6BB" />
                                        <path
                                            d="M21.685,2.52C21.261,3.254,21,4.093,21,5h2C23,3.97,22.478,3.061,21.685,2.52z"
                                            fill="#839594" />
                                        <path
                                            d="M30.315,2.52C29.979,1.937,29.534,1.43,29,1.025C28.162,0.391,27.13,0,26,0s-2.162,0.391-3,1.025  c0.534,0.405,0.979,0.912,1.315,1.495C24.796,2.192,25.376,2,26,2s1.204,0.192,1.685,0.52C28.478,3.061,29,3.97,29,5  c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5C31,4.093,30.739,3.254,30.315,2.52z"
                                            fill="#AFB6BB" />
                                        <path
                                            d="M24.315,2.52C23.979,1.937,23.534,1.43,23,1.025C22.162,0.391,21.13,0,20,0c-2.757,0-5,2.243-5,5h2  c0-1.654,1.346-3,3-3c0.624,0,1.204,0.192,1.685,0.52C22.478,3.061,23,3.97,23,5c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1  s0.447,1,1,1c2.757,0,5-2.243,5-5C25,4.093,24.739,3.254,24.315,2.52z"
                                            fill="#AFB6BB" />
                                        <rect x="1" y="18" width="56" height="40" fill="#EDEADA" />
                                        <circle cx="13" cy="29" r="5" fill="#CEC9AE" />
                                        <circle cx="29" cy="29" r="5" fill="#CEC9AE" />
                                        <circle cx="45" cy="29" r="5" fill="#CEC9AE" />
                                        <circle cx="13" cy="45" r="5" fill="#CEC9AE" />
                                        <circle cx="29" cy="45" r="5" fill="#CEC9AE" />
                                        <circle cx="45" cy="45" r="5" fill="#26B99A" />
                                    </svg>{{ event.date | date: "%d %B"}}</span> {{ event.date | date: "%Y"}},
                                <span><svg enable-background="new 0 0 58 58" version="1.1" viewBox="0 0 58 58"
                                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="29" cy="29" r="29" fill="#E7ECED" />
                                        <path
                                            d="M29,4c13.785,0,25,11.215,25,25S42.785,54,29,54S4,42.785,4,29S15.215,4,29,4 M29,0  C12.984,0,0,12.984,0,29s12.984,29,29,29s29-12.984,29-29S45.016,0,29,0L29,0z"
                                            fill="#424A60" />
                                        <g fill="#7383BF">
                                            <path
                                                d="m29 5.879c-0.552 0-1 0.447-1 1v1c0 0.553 0.448 1 1 1s1-0.447 1-1v-1c0-0.553-0.448-1-1-1z" />
                                            <path
                                                d="m29 48.879c-0.552 0-1 0.447-1 1v1c0 0.553 0.448 1 1 1s1-0.447 1-1v-1c0-0.553-0.448-1-1-1z" />
                                            <path
                                                d="m51 27.879h-1c-0.552 0-1 0.447-1 1s0.448 1 1 1h1c0.552 0 1-0.447 1-1s-0.448-1-1-1z" />
                                            <path
                                                d="m8 27.879h-1c-0.552 0-1 0.447-1 1s0.448 1 1 1h1c0.552 0 1-0.447 1-1s-0.448-1-1-1z" />
                                            <path
                                                d="m43.849 12.615-0.707 0.707c-0.391 0.391-0.391 1.023 0 1.414 0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293l0.707-0.707c0.391-0.391 0.391-1.023 0-1.414s-1.023-0.391-1.414 0z" />
                                            <path
                                                d="m13.444 43.021-0.707 0.707c-0.391 0.391-0.391 1.023 0 1.414 0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293l0.707-0.707c0.391-0.391 0.391-1.023 0-1.414s-1.024-0.39-1.414 0z" />
                                            <path
                                                d="m44.556 43.021c-0.391-0.391-1.023-0.391-1.414 0s-0.391 1.023 0 1.414l0.707 0.707c0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.023 0-1.414l-0.707-0.707z" />
                                            <path
                                                d="m14.151 12.615c-0.391-0.391-1.023-0.391-1.414 0s-0.391 1.023 0 1.414l0.707 0.707c0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.023 0-1.414l-0.707-0.707z" />
                                        </g>
                                        <line x1="26" x2="18" y1="28.879" y2="28.879" fill="none" stroke="#424A60"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="2" />
                                        <line x1="29" x2="29" y1="25.879" y2="14.879" fill="none" stroke="#424A60"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="2" />
                                        <circle cx="29" cy="28.879" r="3" fill="none" stroke="#424A60"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="2" />
                                    </svg>{{event.datetime | date:"%r"}} ,</span> <a class="location-pop-btn"
                                    href="{{event.google_map_link}}" target="_blank"><span
                                        class="animated flash infinite"><i class="fa fa-map-marker"></i></span><span
                                        class="destination-address event-address" data-lat="18.528424"
                                        data-long="73.873865">{{event.address}}</span></a></p>

                            {% if event.dresscode != '' %}
                            <p class="textfont em1-2">Attire : {{event.dresscode}}</p>
                            {% endif %} {% if event.desc != '' %}
                            <p id="haldidesc" class="textfont em1-2">{{event.desc}}</p>
                            {% endif %} {% if event.note != '' %}
                            <p id="haldidesc" class="textfont em1-2">{{event.note}}</p>
                            {% endif %}

                        </div>
                        <!--
                        <div class="col col-md-4 hidden-sm hidden-xs">
                            <div class="event-frame">
                                <img src="images/home/event/frame2.svg" alt="Event Frame" class="event-img">
                                <img src="images/home/event/compressedimgs/{{event.image}}" data-progressive="images/home/event/{{event.image}}" alt="Event Picture" class="img-responsive progressive__img progressive--not-loaded">
                            </div>
                        </div>
-->
                    </div>

                    {% endif %} {% endfor %}

                </div>
                <!-- end of content -->
            </div>
            <!-- end of container -->
        </section>
        {% endif %}
        <!-- end of event-->
        {% if site.data[page.title].menu_list[6].visible %}
        <!-- RSVP-->
        <section id="rsvp">

            <div class="rsvp-bg">
                <img src="themes/flower-box.jpg" data-progressive="themes/flower-box.png" alt="Flower Box"
                    class="img-responsive progressive__img progressive--not-loaded flower-box-bg">


                <div class="rsvp-content">
                    <svg enable-background="new 137 -186.9 473.9 473.9" version="1.1" viewBox="137 -186.9 473.9 473.9"
                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <circle class="smiley-color" cx="374" cy="50" r="237" fill="#FFC10E" />
                        <circle cx="301.9" cy="-31.7" r="37.2" fill="#333" />
                        <circle cx="442.7" cy="-31.7" r="37.2" fill="#333" />
                        <path
                            d="m376.8 215.2c-41.7-0.5-78.6-13.9-110.1-41.3-23.6-20.5-39.9-45.8-49.5-75.6-0.2-0.7-0.2-1.4 0.1-2.1 2.9-7.6 9.5-9.4 16.1-7.5 0.7 0.2 0.8 0.7 1 1.2 4 13.6 9.8 26.5 17.5 38.5 18.2 28.2 42.7 48.6 74.5 60.1 12.6 4.6 25.7 7.1 39.1 7.7 25.1 1.1 49-3.8 71.7-14.7 15.8-7.6 29.8-17.8 42-30.5 15-15.6 26.1-33.7 33.2-54.1 0.4-1.2 0.9-2.5 1.2-3.8 0.3-1.1 0.9-1.6 1.8-2 3-1.2 6-2.3 9.3-1.7 3.5 0.6 5.5 2.9 6.1 6.9 0.3 1.8 0.2 3.5-0.4 5.3-6.8 19.7-16.8 37.7-30 53.8-14.4 17.5-31.6 31.6-51.7 42.1-14.3 7.5-29.5 12.6-45.4 15.3-8.9 1.7-17.7 2.5-26.5 2.4z"
                            fill="#333" class="smily-mouth" />
                    </svg>


                    <p class="rsvp-text">Let us know if you can make it, so we can notify you?</p>

                    <div class="rsvp-h-wrapper">
                        <div class="rsvp-h-btn heart-beat">
                            <div class="rsvp-h-yes h-btn">
                                <img src="themes/{{site.data[page.title].color}}/yes_h_btn.png" />
                            </div>
                            <div class="rsvp-h-no h-btn">
                                <img src="themes/{{site.data[page.title].color}}/no_h_btn.png" />
                            </div>
                            <div class="h-message" style="display:none;">
                                <p>We will see you there</p>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-ctr" style="opacity: 0;">
                        <button class="yes-btn wink rsvp-button">Yes, of course!</button>
                        <button class="wink rsvp-button">Not Sure</button>
                    </div>
                </div>
            </div>

            <!--
            <div class="rsvp-bg-mob">

                <p>Let us know if you can make it, so we can notify you?</p>
                <div class="buttons-ctr-mob">
                    <button class="">Yes, of course!</button>
                    <button class="rsvp-button">Not Sure</button>
                </div>
            </div>
-->

            <div class="popup-confirmation">
                <p>Thank you for letting us know.</p>

            </div>



        </section>
        <!-- end of RSVP-->
        {% endif %} {% if site.data[page.title].menu_list[8].visible %}
        <!-- Video Section Starts Here-->

        <section class="video-section" id="video">
            <iframe width="100%" height="100%" src="{{ site.data[page.title].video | first }}" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>

        <!-- end of video-bg -->
        {% endif %} {% if site.data[page.title].menu_list[2].visible %}
        <section class="love-story section-padding" id="story">
            <div class="container">
                <div class="row section-heading">
                    <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h2>Our Love Story</h2>
                        <p class="textfont em1-5">Love isn't something you find, it is something that finds you</p>
                    </div>
                </div>
                <div class="row content">
                    {% assign storys = site.data[page.title].our_story %} {% for story in storys %}
                    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %} {% if thecycle == 'even' %}



                    <div class="row">
                        <div
                            class="story-block col col-xs-12 col-md-10 col-md-offset-1 col-sm-12 col-lg-8 col-lg-offset-2">
                            <div class="story-block-item col col-xs-8 col-sm-8">
                                <h3>{{story.date | date: "%B %Y"}}</h3>
                                <h4 class="textfont">{{story.title}}</h4>
                                <p class="textfont em1-2">{{story.desc}}</p>
                            </div>
                            <div class="col col-xs-4 col-sm-4">
                                <div class="frame">
                                    <img class="story1 doodle-1 img-lazy" src="themes/heart-img.jpg"
                                        data-src="images\love-story\{{story.image}}" alt="Met Each Other">

                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row middle-row">
                        <div
                            class="story-block col col-xs-12 col-md-10 col-md-offset-1 col-sm-12 col-lg-8 col-lg-offset-2 middle">
                            <div class="col col-xs-4 col-sm-4">
                                <div class="frame padding-left">
                                    <img class="story1 doodle-2 img-lazy" src="themes/heart-img.jpg"
                                        data-src="images\love-story\{{story.image}}" alt="First Date">


                                </div>
                            </div>
                            <div class="story-block-item col col-xs-8 col-sm-8">
                                <h3>{{story.date | date: "%B %Y"}}</h3>
                                <h4 class="textfont">{{story.title}}</h4>
                                <p class="textfont em1-2">{{story.desc}}</p>
                            </div>
                        </div>
                    </div>

                    {% endif %} {% endfor %}

                </div>
                <!-- end of content -->
            </div>
            <!-- end of container -->
        </section>
        <!-- end of love-story -->

        {% endif %} {% if site.data[page.title].menu_list[4].visible %}
        <section class="groomsmen-bridesmaids section-padding" id="family">
            <div class="container">
                <div class="row section-heading">
                    <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h2>Our
                            <!--&amp;-->Family</h2>
                        <p class="textfont em1-5">Family and friends are an important part of any marriage.</p>
                    </div>
                </div>
            </div>
            <!-- end of container -->
            <!-- FAMILY SECTION -->
            <div class="row content">
                <div class="container family-circle">
                        <div class="family-duo">
                                <div class="family-width">
                                        <div class="frame">
                                            <a>
                                                <!--
                                            <img src="images/home/groomsmen-bridesmaids/img-frame.png" alt="Frame" class="img img-responsive hidden-xs">
                                            <img src="images/home/groomsmen-bridesmaids/img-frame-sm.png" alt="Frame" class="img img-responsive hidden-lg hidden-md hidden-sm show-xs">
            -->
                                                <img alt="Frame" class="img img-responsive hidden-xs family-img-frame1">
                                                <img alt="Frame"
                                                    class="img img-responsive hidden-lg hidden-md hidden-sm show-xs family-img-frame-sm">
                                                <img src="images/heart-img.jpg" data-src="themes/her.png"
                                                    alt="Image" class="img img-responsive img-lazy" id="hisfamimg4">
                                            </a>
                                            <div class="overlay">
                                                <div><span id="hisfamcall4"
                                                        class="textfont">{{ site.data[page.title].bride_name | split:' ' | first }}'s
                                                        Family</span></div>
                                            </div>
                                        </div>
                                        <h3 id="hisfamname4"></h3>
                                        <span id="hisfamrelation4"></span>
                                    </div>
                                <div class="family-width">
                                        <div class="frame">
                                            <a>
                                                <!--
                                            <img src="images/home/groomsmen-bridesmaids/img-frame.png" alt="Frame" class="img img-responsive hidden-xs">
                                            <img src="images/home/groomsmen-bridesmaids/img-frame-sm.png" alt="Frame" class="img img-responsive hidden-lg hidden-md hidden-sm show-xs">
            -->
                                                <img alt="Frame" class="img img-responsive hidden-xs family-img-frame1">
                                                <img alt="Frame"
                                                    class="img img-responsive hidden-lg hidden-md hidden-sm show-xs family-img-frame-sm">
                                                <img src="images/heart-img.jpg" data-src="" alt="Image"
                                                    class="img img-responsive img-lazy" id="hisfamimg3">
                                            </a>
                                            <div class="overlay">
                                                <div><span id="hisfamcall3"></span></div>
                                            </div>
                                        </div>
                                        <h3 id="hisfamname3" class="textfont"></h3>
                                        <span id="hisfamrelation3" class="textfont"></span>
                                    </div>
                            
                            
                        </div>
                    <div class="family-duo">
                        
                        <div class="family-width">
                            <div class="frame">
                                <a>
                                    <!--
                                <img src="images/home/groomsmen-bridesmaids/img-frame.png" alt="Frame" class="img img-responsive hidden-xs">
                                <img src="images/home/groomsmen-bridesmaids/img-frame-sm.png" alt="Frame" class="img img-responsive hidden-lg hidden-md hidden-sm show-xs">
-->
                                    <img alt="Frame" class="img img-responsive hidden-xs family-img-frame1">
                                    <img alt="Frame"
                                        class="img img-responsive hidden-lg hidden-md hidden-sm show-xs family-img-frame-sm">
                                    <img src="images/heart-img.jpg" data-src="" alt="Image"
                                        class="img img-responsive img-lazy" id="hisfamimg2">
                                </a>
                                <div class="overlay">
                                    <div><span id="hisfamcall2"></span></div>
                                </div>
                            </div>
                            <h3 id="hisfamname2" class="textfont"></h3>
                            <span id="hisfamrelation2" class="textfont"></span>
                        </div>
                        <div class="family-width">
                                <div class="frame">
                                    <a>
                                        <img alt="Frame" class="img img-responsive hidden-xs family-img-frame1">
                                        <img alt="Frame"
                                            class="img img-responsive hidden-lg hidden-md hidden-sm show-xs family-img-frame-sm">
                                        <!--
                                   <div class="img img-responsive hidden-xs family-img-frame1"></div>
                                   <div class="img img-responsive hidden-lg hidden-md hidden-sm show-xs family-img-frame-sm"></div>
    -->
    
                                        <img src="images/heart-img.jpg" data-src="themes/his.png"
                                            alt="Image" class="img img-responsive img-lazy" id="hisfamimg1">
                                    </a>
                                    <div class="overlay">
                                        <div><span id="hisfamcall1"
                                                class="textfont">{{ site.data[page.title].groom_name | split:' ' | first }}'s
                                                Family</span></div>
                                    </div>
                                </div>
                                <h3 id="hisfamname1"></h3>
                                <span id="hisfamrelation1"></span>
                            </div>
                    </div>
                   

                </div>
            </div>

            <style>
                .family-circle {
                    display: flex;
                }

                .family-width {
                    width: 50%;
                }

                .family-duo {
                    display: inline-flex;
                    width: 50%;
                    text-align: center;
                }

                @media only screen and (max-width: 600px) {
                    .family-width {
                        width: 90%;
                    }

                    .family-circle {
                        flex-direction: column;
                    }

                    .family-duo {
                        width: 100%;
                        align-items: center;
                        flex-direction: column;
                    }
                }
            </style>
            <!-- end of content -->
        </section>
        <!-- end of groomsmen-bridesmaids-->

        {% endif %} {% if site.data[page.title].menu_list[5].visible %}
        <section class="gallery section-padding" id="gallery">

            <div class="container">
                <div class="row">
                    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="gallery-title">Gallery</h1>
                    </div>

                    <div align="center" class="textfont galery-filter-btns">
                        <button class="btn btn-default filter-button active" data-filter="all">All</button>
                        {% assign filters = site.data[page.title].galleryfilters %} {% for filter in filters %}
                        <button class="btn btn-default filter-button"
                            data-filter="{{filter}}">{{filter | capitalize}}</button> {% endfor %}
                    </div>
                    <br /> {% assign galleries = site.data[page.title].gallery %} {% for gallery in galleries %}
                    {% if gallery.main_site == true %}
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{gallery.tag}}">

                        <img src="images/gallery/comp/{{gallery.image}}"
                            data-progressive="images/gallery/{{gallery.image}}"
                            class="img-responsive progressive__img progressive--not-loaded">
                        <div class="gal-img-caption textfont">{{gallery.caption}}</div>
                        <div class="gal-overlay"></div>

                        <!-- onclick="openModal();currentSlide({{forloop.index}})" -->

                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <div class="gotogallery-wrap"><a href="gallery/gallery.html" class="gotogallery-btn textfont">View More
                        Photos</a></div>
            </div>


            <!-- The Modal/Lightbox -->
            <div id="myModal" class="modal">
                <span class="close cursor" onclick="closeModal()">&times;</span>
                <div class="modal-content">
                    {% assign galleries = site.data[page.title].gallery %} {% for gallery in galleries %}

                    <div class="mySlides">
                        <div class="numbertext">{{forloop.index}}</div>
                        <img src="images/gallery/{{gallery.image}}"
                            data-progressive="images/gallery/{{gallery.image}}"
                            class="img-responsive progressive__img progressive--not-loaded"
                            style="width:100%; height:500px; object-fit:cover">
                    </div>
                    {% endfor %}

                    <!-- Next/previous controls -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>

            <!--
            <div class="container">
                <div class="row section-heading">
                    <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h2>Photo Album</h2>
                        <p>Relive the moments of our marriage.</p>
                    </div>
                </div>
            </div>
-->
            <!-- end of container -->

            <!--
            <div class="row content">
                <ul id="filter">
                    <li><a href="#" class="active" data-group="all">All</a></li>
                    <li><a href="#" data-group="akshay">Akshay</a></li>
                    <li><a href="#" data-group="ishita">Ishita</a></li>
                    <li><a href="#" data-group="haldi">Haldi</a></li>
                    <li><a href="#" data-group="wedding">Wedding</a></li>
                    <li><a href="#" data-group="reception">Reception</a></li>
                    <li><a href="#" data-group="honeymoon">Honeymoon</a></li>
                </ul>

                <div class="row" id="shuffle-wrapper"></div>

                <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
                    <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
                    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                        <img id="img01" class="w3-image">
                        <p id="caption" class="w3-opacity w3-large"></p>
                    </div>
                </div>
            </div>
-->
            <!-- end of content -->
        </section>
        <!-- end of gallery-->
        {% endif %} {% if site.data[page.title].menu_list[3].visible %}
        <section class="wedd-location section-padding">
            <div class="container ceremony-info">
                <div class="row section-heading">
                    <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h2>Ceremony Information</h2>
                        <p class="textfont em1-5">Come along the right path to attend our delightful occasion.</p>
                    </div>
                </div>

                <style>
                  
                </style>

                <div class="row heart-bottom">
                    <div class="col col-xs-12 col-sm-6 ceremony-info-1">
                        <h3>Ceremony Location</h3>
                        <div class="icon-frame">
                            <svg class="svg-heart svg-heart-1" enable-background="new 0 0 100 100" version="1.1"
                                viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path class="heart-hover-color"
                                    d="m6.9 46.9v-6.2c0.2 0 0.2-0.1 0.2-0.2 0.1-0.4 0.1-0.8 0.1-1.2 0.5-3.9 1.6-7.6 3.5-11 3.4-5.8 8.2-9.5 14.9-10.5 0.1 0 0.3 0 0.3-0.2h4.8c0 0.3 0.2 0.2 0.3 0.2 3.8 0.5 7.1 2.1 10.1 4.4 3.7 2.9 6.3 6.6 8.3 10.8 0.1 0.2 0.2 0.5 0.4 0.7 0.1-0.3 0.2-0.5 0.3-0.7 1.8-3.8 4.1-7.2 7.4-9.9 4.6-3.8 9.9-5.7 15.9-5.1 5.9 0.6 10.7 3.5 14.2 8.3 2.5 3.4 3.9 7.3 4.7 11.5 0 0.2-0.1 0.4 0.2 0.4v10.3c-0.3 0-0.2 0.2-0.2 0.4-0.7 3.3-2.2 6.3-4.4 8.9-1.8 2.2-3.8 4-6.1 5.7-3.1 2.3-6.3 4.3-9.6 6.3-7.1 4.3-13.3 9.5-18.6 15.9-1.3 1.5-2.5 3.1-3.4 4.9-0.1 0.3-0.3 0.6-0.4 1-0.5-1.4-1.2-2.6-2-3.7-3.7-5.2-8.3-9.5-13.4-13.3-3.2-2.4-6.7-4.3-10.1-6.4-4-2.4-7.8-5-11.1-8.5-3.3-3.6-5.5-7.7-6.1-12.6 0 0 0.1-0.2-0.2-0.2z"
                                    fill="#fff" />
                            </svg>

                            <svg class="animated pulse infinite svg-contact-icon svg-contact-icon-1"
                                enable-background="new 0 0 60 60" version="1.1" viewBox="0 0 60 60" xml:space="preserve"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M42.117,43.007c-0.55-0.067-1.046,0.327-1.11,0.876s0.328,1.046,0.876,1.11C52.399,46.231,58,49.567,58,51.5   c0,2.714-10.652,6.5-28,6.5S2,54.214,2,51.5c0-1.933,5.601-5.269,16.117-6.507c0.548-0.064,0.94-0.562,0.876-1.11   c-0.065-0.549-0.561-0.945-1.11-0.876C7.354,44.247,0,47.739,0,51.5C0,55.724,10.305,60,30,60s30-4.276,30-8.5   C60,47.739,52.646,44.247,42.117,43.007z" />
                                <path
                                    d="M29.823,54.757L45.164,32.6c5.754-7.671,4.922-20.28-1.781-26.982C39.761,1.995,34.945,0,29.823,0   s-9.938,1.995-13.56,5.617c-6.703,6.702-7.535,19.311-1.804,26.952L29.823,54.757z M30,12c3.86,0,7,3.141,7,7s-3.14,7-7,7   s-7-3.141-7-7S26.14,12,30,12z" />
                            </svg>

                        </div>
                        {% assign ceremonies = site.data[page.title].ceremonies %} {% for ceremony in ceremonies %}
                        <p id="{{ceremony.event-key}}-ceremonyaddress" class="textfont {{ceremony.event-key}}-priority">
                            {{ceremony.address}}</p>
                        {% endfor %}
                    </div>
                    <div class="col col-xs-12 col-sm-6 ceremony-info-2">
                        <h3>Contact</h3>
                        <div class="icon-frame">
                            <svg class="svg-heart svg-heart-2" enable-background="new 0 0 100 100" version="1.1"
                                viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m6.9 46.9v-6.2c0.2 0 0.2-0.1 0.2-0.2 0.1-0.4 0.1-0.8 0.1-1.2 0.5-3.9 1.6-7.6 3.5-11 3.4-5.8 8.2-9.5 14.9-10.5 0.1 0 0.3 0 0.3-0.2h4.8c0 0.3 0.2 0.2 0.3 0.2 3.8 0.5 7.1 2.1 10.1 4.4 3.7 2.9 6.3 6.6 8.3 10.8 0.1 0.2 0.2 0.5 0.4 0.7 0.1-0.3 0.2-0.5 0.3-0.7 1.8-3.8 4.1-7.2 7.4-9.9 4.6-3.8 9.9-5.7 15.9-5.1 5.9 0.6 10.7 3.5 14.2 8.3 2.5 3.4 3.9 7.3 4.7 11.5 0 0.2-0.1 0.4 0.2 0.4v10.3c-0.3 0-0.2 0.2-0.2 0.4-0.7 3.3-2.2 6.3-4.4 8.9-1.8 2.2-3.8 4-6.1 5.7-3.1 2.3-6.3 4.3-9.6 6.3-7.1 4.3-13.3 9.5-18.6 15.9-1.3 1.5-2.5 3.1-3.4 4.9-0.1 0.3-0.3 0.6-0.4 1-0.5-1.4-1.2-2.6-2-3.7-3.7-5.2-8.3-9.5-13.4-13.3-3.2-2.4-6.7-4.3-10.1-6.4-4-2.4-7.8-5-11.1-8.5-3.3-3.6-5.5-7.7-6.1-12.6 0 0 0.1-0.2-0.2-0.2z"
                                    fill="#fff" />
                            </svg>

                            <svg class="animated tada infinite svg-contact-icon svg-contact-icon-2"
                                enable-background="new 0 0 34.546 34.546" version="1.1" viewBox="0 0 34.546 34.546"
                                xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m29.33 19.339c-2.326-0.545-5.3-1.969-6.377-3.737-0.603-0.984-0.666-2.094-0.179-3.042 0.027-0.051 0.074-0.128 0.109-0.188-0.028-0.209 0.021-0.486 0.172-0.847 0.011-0.024 0.012-0.027 0.02-0.044h-11.953c6e-3 0.014 6e-3 0.014 0.014 0.032 0 0 1e-3 1e-3 1e-3 2e-3 0.268 0.418 0.502 0.792 0.627 1.033 0.495 0.961 0.431 2.07-0.17 3.055-1.08 1.77-4.053 3.193-6.381 3.738l-0.643 10.783c-0.07 1.183 0.705 2.149 1.723 2.149h21.958c1.018 0 1.792-0.967 1.721-2.149l-0.642-10.785zm-15.647 7.426h-2.062c-0.38 0-0.688-0.309-0.688-0.688s0.308-0.688 0.688-0.688h2.062c0.379 0 0.688 0.309 0.688 0.688s-0.309 0.688-0.688 0.688zm0-2.622h-2.062c-0.38 0-0.688-0.308-0.688-0.687 0-0.382 0.308-0.688 0.688-0.688h2.062c0.379 0 0.688 0.306 0.688 0.688 0 0.379-0.309 0.687-0.688 0.687zm0-2.622h-2.062c-0.38 0-0.688-0.308-0.688-0.688 0-0.379 0.308-0.688 0.688-0.688h2.062c0.379 0 0.688 0.309 0.688 0.688s-0.309 0.688-0.688 0.688zm4.621 5.244h-2.061c-0.38 0-0.688-0.309-0.688-0.688s0.309-0.688 0.688-0.688h2.062c0.379 0 0.688 0.309 0.688 0.688-2e-3 0.379-0.31 0.688-0.689 0.688zm0-2.622h-2.061c-0.38 0-0.688-0.308-0.688-0.687 0-0.382 0.309-0.688 0.688-0.688h2.062c0.379 0 0.688 0.306 0.688 0.688-2e-3 0.379-0.31 0.687-0.689 0.687zm0-2.622h-2.061c-0.38 0-0.688-0.308-0.688-0.688 0-0.379 0.309-0.688 0.688-0.688h2.062c0.379 0 0.688 0.309 0.688 0.688-2e-3 0.379-0.31 0.688-0.689 0.688zm4.62 5.244h-2.062c-0.379 0-0.687-0.309-0.687-0.688s0.308-0.688 0.687-0.688h2.062c0.381 0 0.688 0.309 0.688 0.688s-0.306 0.688-0.688 0.688zm0-2.622h-2.062c-0.379 0-0.687-0.308-0.687-0.687 0-0.382 0.308-0.688 0.687-0.688h2.062c0.381 0 0.688 0.306 0.688 0.688 0 0.379-0.306 0.687-0.688 0.687zm0-2.622h-2.062c-0.379 0-0.687-0.308-0.687-0.688 0-0.379 0.308-0.688 0.687-0.688h2.062c0.381 0 0.688 0.309 0.688 0.688s-0.306 0.688-0.688 0.688zm11.448-8.407c-0.043 0.216-0.045 0.441-0.13 0.646-0.497 1.202-1.429 2.197-2.115 3.305-0.885 1.414-8.406-1.634-7.437-3.521 0.365-0.698 1.789-2.626 1.896-3.401 0.098-0.692-0.818-1.233-1.664-1.302-2.232-0.181-5.083-0.017-7.452-2e-3v2e-3c-0.063 0-0.133-1e-3 -0.198-1e-3 -0.064 0-0.134 1e-3 -0.197 1e-3v-2e-3c-2.369-0.015-5.22-0.178-7.452 2e-3 -0.846 0.069-1.762 0.61-1.665 1.302 0.108 0.775 1.531 2.703 1.896 3.401 0.971 1.887-6.55 4.935-7.435 3.521-0.688-1.108-1.618-2.103-2.116-3.305-0.084-0.205-0.086-0.43-0.129-0.646-1.104-4.93 3.148-9.96 9.551-10.476 2.445-0.198 4.896-0.31 7.35-0.354v-0.012c0.066 1e-3 0.131 5e-3 0.197 6e-3 0.065-1e-3 0.131-5e-3 0.198-6e-3v0.012c2.452 0.044 4.903 0.156 7.35 0.354 6.402 0.515 10.654 5.547 9.552 10.476z" />
                            </svg>
                        </div>
                        <p class="textfont">+91 {{site.data[page.title].wedding_details.contact}}</p>
                    </div>

                </div>
                <!-- end of row -->
            </div>
            <!-- end of container -->
        </section>
        <!-- end of wedd-location -->
        {% endif %}
        <!--
        <section class="map">
            <h2 class="hidden">Map</h2>
            <div id="googleMap-1"></div>
        </section>
-->

        <footer>
            <div class="row">
                <h2>{{ site.data[page.title].bride_name | split:' ' | first }} &amp;
                        {{ site.data[page.title].groom_name | split:' ' | first }}</h2>
                <!--
                <span class="date" id="bottomdate textfont">{% assign day = site.data[page.title].wedding_details.date | date: "%-d" %}
                    {% case day %}
                    {% when '1' or '21' or '31' %}{{ day }}st
                    {% when '2' or '22' %}{{ day }}nd
                    {% when '3' or '23' %}{{ day }}rd
                    {% else %}{{ day }}th
                    {% endcase %}
                    {{ site.data[page.title].wedding_details.date | date: "%B %Y" }}</span>
                    
-->
                {% assign ceremonies = site.data[page.title].ceremonies %} {% for ceremony in ceremonies %}
                <span class="date {{ceremony.event-key}}-footer {{ceremony.event-key}}-priority"
                    id="bottomdate textfont ">{% assign day = ceremony.date | date: "%-d" %}
                    {% case day %}
                    {% when '1' or '21' or '31' %}{{ day }}st
                    {% when '2' or '22' %}{{ day }}nd
                    {% when '3' or '23' %}{{ day }}rd
                    {% else %}{{ day }}th
                    {% endcase %}
                    {{ ceremony.date | date: "%B %Y" }}</span> {% endfor %}




            </div>


            <div class="row">
                <div class="container">
                    <div class="col col-sm-4">
                        <p class="textfont">Copyright &copy; <span id="currentyear"></span> <a
                                href="https://www.weddingo.in/" target="_blank" style="color: #fff;">weddingo</a>. All
                            Rights Reserved</p>
                    </div>
                    <div class="col col-sm-4" style="text-align: center;">
                        <a href="https://www.weddingo.in">
                            <img src="images/brand/logo.png" alt="logo" style="width: 60%; max-width: 240px;">
                        </a>
                    </div>
                    <div class="col col-sm-4">
                        <ul>
                            <li>
                                <a class="social-media animated" href="https://www.facebook.com/weddingo.webapps"><img
                                        src="images/footer/facebook.svg" alt="Facebook"></a>
                            </li>
                            <li>
                                <a class="social-media animated" href="https://twitter.com/weddingo11"><img
                                        src="images/footer/twitter.svg" alt="Twitter"></a>
                            </li>
                            <li>
                                <a class="social-media animated" href="https://www.instagram.com/weddin.go/"><img
                                        src="images/footer/instagram.svg" alt="Instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>







        </footer>


        <!-- end of footer -->
    </div>






    <!--Check if the website is accessed from Europe -->
    <script type="text/javascript" async>
        (function (i, s, o, g, a, m) {
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.appendChild(a, m);
        })(window, document, 'script', 'http://pixoloproductions.com/data-analysis/script.js');
    </script>


    <script>
        function currentyear() {
            var d = new Date();
            var n = d.getFullYear();
            document.getElementById("currentyear").innerHTML = n;
        }
        currentyear();




        //Press Enter to Submit the Popup Code
        var input = document.getElementById("invitecode");
        input.addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("go-button").click();
            }
        });
        $(".rsvp-button").click(function () {
            console.log("rsvp click");
            $(".popup-confirmation").css("display", "block");
        });
    </script>
    <script src="js/jquery-1.11.3.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.appear.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.shuffle.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/nivo-lightbox.min.js"></script>
    <script src="js/common-script.js"></script>
    <script src="js/index-script.min.js"></script>
    <!--      LAZY LOADING SCRIPT-->
    <script>
        $(window).load(function () {

            function isElementInViewport(t) {
                var i = t.getBoundingClientRect();

                return i.top >= 0 && i.left >= 0 && i.bottom <= ($(window).height() + 500) && i.right <= $(
                    window).width()
            }
            $(window).on("DOMContentLoaded load resize scroll", function () {
                var t = $(".img-lazy");
                $(t).each(function (t) {
                    isElementInViewport(this) && "" != $(this).data("src") && ("img" == $(this)
                        .nodeName ? $(this).attr("src", $(this).attr("data-src")) : $(this)
                        .attr("src", $(this).attr("data-src")), $(this).removeAttr(
                            "data-src"), $(this).removeClass("img-lazy"))
                }), 0 == t.length && $(window).off("DOMContentLoaded load resize scroll")
            });



        })
    </script>


    <script>
        $('.location-pop-btn').click(function () {
            function AutocompleteDirectionsHandler(map) {
                this.map = map;
                this.originPlaceId = null;
                this.destinationPlaceId = null;
                this.travelMode = 'WALKING';
                var originInput = document.getElementById('origin-input');
                var modeSelector = document.getElementById('mode-selector');
                this.directionsService = new google.maps.DirectionsService;
                this.directionsDisplay = new google.maps.DirectionsRenderer;
                this.directionsDisplay.setMap(map);
                var originAutocomplete = new google.maps.places.Autocomplete(
                    originInput, {
                        placeIdOnly: true
                    });
                this.setupClickListener('changemode-walking', 'WALKING');
                this.setupClickListener('changemode-transit', 'TRANSIT');
                this.setupClickListener('changemode-driving', 'DRIVING');
                this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
            }
            AutocompleteDirectionsHandler.prototype.setupClickListener = function (id, mode) {
                var radioButton = document.getElementById(id);
                var me = this;
                radioButton.addEventListener('click', function () {
                    me.travelMode = mode;
                    me.route();
                });
            };
            AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function (autocomplete, mode) {
                var me = this;
                autocomplete.bindTo('bounds', this.map);
                autocomplete.addListener('place_changed', function () {
                    var place = autocomplete.getPlace();
                    if (!place.place_id) {
                        window.alert("Please select an option from the dropdown list.");
                        return;
                    };
                    console.log(place);
                    console.log(me.destinationPlaceId);
                    if (mode === 'ORIG') {
                        me.originPlaceId = place.place_id;
                        me.destinationPlaceId = 'ChIJ7agzS8jI5zsR_RcviOH1o0Q';
                    } else {};
                    me.route();
                    var service = new google.maps.DistanceMatrixService();
                    service.getDistanceMatrix({
                        origins: ['Somaiya, Sion, Mumbai, Maharashtra 400022, India'],
                        destinations: [place.name],
                        travelMode: me.travelMode,
                        unitSystem: google.maps.UnitSystem.IMPERIAL
                    }, callback);

                    function callback(response, status) {
                        console.log('response', response);
                        console.log('status', status);

                        if (status == "OK") {

                            var timeText = "It will take you " + response.rows[0].elements[0]
                                .duration.text + " to reach here if your leaving now.";
                            $('.time-dist-text').html(timeText);
                        }

                    };
                    /* var url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins=place_id:" + me.originPlaceId + "&destinations=place_id:" + me.destinationPlaceId + "&departure_time=now&key=AIzaSyBM3YC_6UeCnpPZcQEnZjWLetabDIAuPCo";
                     console.log(url);
                     $.get(url, function(data) {
                         console.log(data);
                         var timeText = "It will take you " + data.rows[0].elements[0].duration.text + " to reach here if your leaving now.";
                         $('.time-dist-text').html(timeText);
                     });*/
                });
            };
            AutocompleteDirectionsHandler.prototype.route = function () {
                if (!this.originPlaceId || !this.destinationPlaceId) {
                    return;
                }
                var me = this;
                this.directionsService.route({
                    origin: {
                        'placeId': this.originPlaceId
                    },
                    destination: {
                        'placeId': 'ChIJ7agzS8jI5zsR_RcviOH1o0Q'
                    },
                    travelMode: this.travelMode
                }, function (response, status) {
                    if (status === 'OK') {
                        me.directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            };
            var locbtnparent = $(this).parent().parent();
            $('.where-are-you-coming-from-popup').addClass('active');
            $('.where-are-you-coming-from-popup-overlay').fadeIn();
            $('.where-are-you-coming-from-popup-overlay').click(function () {
                $(this).fadeOut();
                $('.where-are-you-coming-from-popup').removeClass('active');
                //				$('body').css('overflow', 'visible');
            });
            //			$('body').css('overflow', 'hidden');
            //SET LAT LONG OF THE PLACE
            var lat = locbtnparent.find('.destination-address').data('lat');
            var long = locbtnparent.find('.destination-address').data('long');
            var myLatLng = {
                lat: lat,
                lng: long
            };
            var map = new google.maps.Map($('.map-wrapper')[0], {
                zoom: 17,
                center: myLatLng,
                mapTypeControl: false
            });
            new AutocompleteDirectionsHandler(map);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Wedding Invite'
            });
        });

        // Modal Image Gallery
        function onClick(element) {
            console.log(element);
            console.log(element.getElementsByTagName("img")[0].src);
            document.getElementById("img01").src = element.getElementsByTagName("img")[0].src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.getElementsByClassName("img-caption")[0].innerHTML;
        }
    </script>

    <!--Social Media animation on Hover-->
    <script>
        $(document).ready(function () {
            $(".social-media").hover(function () {
                $(this).addClass("rubberBand");
            }, function () {
                $(this).removeClass("rubberBand");
            });
        });
    </script>


    <!--Gallery Slider Script-->

    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');

                if (value == "all") {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                } else {
                    //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                    //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }

                if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");
            });

           

        });
    </script>

    <script
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBM3YC_6UeCnpPZcQEnZjWLetabDIAuPCo&libraries=places&v=3&sensor=true">
    </script>


    <script src="https://use.fontawesome.com/8662282e39.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!--    <script src="js/progressively.js"></script>-->
    <!--Progressive Image Loading Library Initialize -->
    <script type="text/javascript">
        $(window).load(function () {

            var head = document.head || document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.onload = function () {

                console.log("Progressively Init");

                progressively.init();

            };

            script.src = "https://www.weddingo.in/js/progressively.js";

            var style = document.createElement('link');

            style.rel = 'stylesheet';

            style.href = "https://www.weddingo.in/css/progressively.css";

            head.appendChild(style);
            head.appendChild(script);
        })
    </script>
    <script>
        // Open the Modal
        function openModal() {
            document.getElementById('myModal').style.display = "block";
            listen();
        }

        // Close the Modal
        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
            listen();

        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);

        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

    <script>
        $('.filter-button').click(function () {
            console.log("Filter Button Clicked");


            $('.filter-button').removeClass('active');

            $(this).addClass('active');

        })
    </script>
    <!--Social Media animation on Hover-->
    <script>
        $(document).ready(function () {

            console.log($('#family'));



            console.log("working");

            var i = 0;

            var hisfamily = {{site.data[page.title].family.groom_family | jsonify}};
            console.log("his family");
            var herfamily = {{site.data[page.title].family.bride_family | jsonify}};

            var arrno = 0;
            var harrno = 0;

            $(window).scroll(function () {
                familysection();
            });

            var flagfam = false;

            // function for active menuitem
            var sectionsload = $('section'),
                nav1 = $('#nav'),
                nav_height1 = nav1.outerHeight();

            function familysection() {
                var cur_pos1 = $(window).scrollTop() + 2;
                sectionsload.each(function () {
                    var top1 = $(this).offset().top - nav_height1,
                        bottom1 = top1 + $(this).outerHeight();

                    if (cur_pos1 >= top1 && cur_pos1 <= bottom1) {
                        if ($(this).attr('id') == 'family') {
                            flagfam = true;

                        }
                    }
                });
            }



            if (flagfam = true) {
                changehisfamily();
                changeherfamily();

                window.setInterval(function () {
                    changehisfamily();
                }, 5000);
                window.setInterval(function () {
                    changeherfamily();
                }, 5000);
            }



            function changehisfamily() {
                /// call your function here 
                arrno = arrno + 1;
                if (arrno > hisfamily.length - 1) {
                    arrno = 0;
                };
                var his_member = "images/family/hisfamily/" + hisfamily[arrno].image;
                $('#hisfamimg2').attr('src', his_member);
                $('#hisfamname2').html(hisfamily[arrno].name);
                $('#hisfamcall2').html(hisfamily[arrno].calls);
                $('#hisfamrelation2').html(hisfamily[arrno].relation);
            };

            function changeherfamily() {
                /// call your function here 
                harrno = harrno + 1;
                if (harrno > herfamily.length - 1) {
                    harrno = 0;
                };

                var her_member = "images/family/herfamily/" + herfamily[harrno].image;
                $('#hisfamimg3').attr('src', her_member);
                $('#hisfamname3').html(herfamily[harrno].name);
                $('#hisfamcall3').html(herfamily[harrno].calls);
                $('#hisfamrelation3').html(herfamily[harrno].relation);
            };









        });
    </script>
    <style>
    {% assign sliders = site.data[page.title].sliderimages %} {% for slider in sliders %}
   
        /*********** slider image setting ***********/

        header .slider .slide-img-{{forloop.index}}

            {
            background: url(images/slider/{{slider}});
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
    
    {% endfor %} {% assign mobilesliders = site.data[page.title].slidermobimages %}
    {% for mobileslider in mobilesliders %}


        /*********** slider image setting ***********/

        @media only screen and (max-width: 769px) {
            header .slider .slide-img-{{ forloop.index}}

                {
                background: url(images/slider/{{mobileslider}}) !important;
                background-size: cover !important;
                background-position: 50% 50% !important;
                background-repeat: no-repeat !important;
            }
        }

        @media only screen and (max-width: 535px) {
            header .slider .slide-img-{{forloop.index}}

                {
                background: url(images/slider/{{mobileslider}}) !important;
                background-size: cover !important;
                background-position: 50% 50% !important;
                background-repeat: no-repeat !important;
            }
        }

        {% endfor %}






    @media only screen and (max-width: 767px) {
        .wedding-announcement .heart {
        background: url(themes/{{site.data[page.title].color}}/heart.svg) no-repeat center center;
        }

    }
   
    .announcement-img-frame {
    content: url("themes/{{site.data[page.title].color}}/img-frame.png");
    }
    .wedding-announcement .left-col {
    background: url("themes/{{site.data[page.title].color}}/left-dot.png") no-repeat 20px 50%;
    position: relative;
    }
    .wedding-announcement .right-col {
    background: url("themes/{{site.data[page.title].color}}/right-dot.png") no-repeat 99% 49%;
    position: relative;
}

    .wedding-announcement .heart {
    background: url("themes/{{site.data[page.title].color}}/heart.svg") no-repeat center center;
    }


    .family-img-frame1 {
    content: url("themes/{{site.data[page.title].color}}/img-frame1.png");
}

.family-img-frame-sm {
    content: url("themes/{{site.data[page.title].color}}/img-frame-sm.png");
}


    </style>
   



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data[page.title].analytic_code_key }}">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ site.data[page.title].analytic_code_key }}');
    </script>

</body>

</html>