---
title: mrunohit
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.data[page.title].bride_name | split:' ' | first }} Weds {{ site.data[page.title].groom_name | split:' ' | first }} - Weddingo</title>
    <link href="https://www.weddingo.in/images/Favicon/android-icon-144x144.png" rel="icon">
    <link rel="dns-prefetch" href="https://www.weddingo.in/">




    <style>
        /******************************************SITE LOADER**********************************************/

        body {
            margin: 0px !important;
        }

        @font-face {
            font-family: helveticaneue-light;
            src: url(fonts/helveticaneue-light.ttf);
        }

        @font-face {
            font-family: Cushy;
            src: url(fonts/Cushy.otf);
        }


        .filter-button {
            font-family: helveticaneue-light !important;
            font-size: 18px;
            color: #000 !important;
            padding: 0 !important;
            /*            line-height: 18px !important;*/
            border: none !important;
            border-radius: 0px !important;
            text-transform: uppercase !important;
            margin: 0 10px !important;
            outline: none !important;
        }

        .filter-button:hover {
            background: none !important;
            border-bottom: 1px solid !important;
            border-radius: 0px !important;
            outline: none !important;
        }

        .filter-button:active {
            background: none !important;
            border-bottom: 1px solid !important;
            border-radius: 0px !important;
            outline: none !important;
        }

        .filter-button:focus {
            background: none !important;
            border-bottom: 1px solid !important;
            border-radius: 0px !important;
            outline: none !important;
        }

        .gallery_product {
            padding: 0 2px !important;
            margin-bottom: 5px !important;
        }







        /*********************************************************************************************************/

        .body-div {
            display: block !important;
        }

        @font-face {
            font-family: textfont;
            src: url(https://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/69b40392-453a-438a-a121-a49e5fbc9213.woff2);
        }

        .textfont {
            font-family: textfont;
            font-weight: 600;
        }





        :root {
            --primary-color: #ff9800;
        }

        .gallery_product img {
            width: 100% !important;
            height: 360px !important;
        }

        .filter-active {
            border-bottom: 1px solid !important;
            background: none !important;
            box-shadow: none !important;
            outline: none !important;
        }

        .section-padding {
            padding: 45px 0 75px !important;
        }

        .gallery-header-wrap {
            text-align: center;
            padding: 30px 0 !important;
        }

        .header-logo-img {
            display: block;
            margin: auto;
        }

        .website-link-url {
            color: #000 !important;
            font-size: 13px;
            font-family: helveticaneue-light;
        }

        .couple-name-title {
            font-family: Cushy;
            font-size: 52px;
            text-align: center;
            line-height: 52px;
            margin: 0;
        }

        .social-wrap {
            text-align: center;
        }

        .share-icon {
            background: none;
            padding: 8px;
            width: 40px;
            height: 40px;
            border-radius: 6px;
            cursor: pointer;
        }

        .share-icon:hover {
            background: #EFEFEF;
        }

        .footer-container {
            max-width: 1200px;
            margin: auto;
        }

        .footer-container .row {
            margin: 0 !important;
        }

        .footer-social-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
        }

        .footer-main-wrap {
            background: #3D3B3B;
            padding: 20px 0;
        }

        .footer-logo-img {
            height: 40px;
            display: block;
            margin: auto;
        }

        .visit-us-text {
            margin: 0 !important;
            color: #fff;
            font-size: 14px;
            font-family: helveticaneue-light;
        }

        .footer-svg {
            margin-left: 10px;
            cursor: pointer;
            height: 28px;
        }

        .gal-overlay {
/*            width: 100% !important;*/
        }

        #gallery {
            min-height: 52vh;
        }

        @media screen and (max-width: 600px) {
            .couple-name-title {
                font-size: 35px;
            }
            .filter-button{
                font-size: 16px;
            }
        }

    </style>
</head>

<body>

    <div class="body-div">


        <div class="gallery-header-wrap">
            <img src="img/weddingo-white.png" class="header-logo-img">
            <a class="website-link-url" href="https://www.weddingo.in/" target="_blank">www.weddingo.in</a>
        </div>
        <section>
            <p class="couple-name-title">{{ site.data[page.title].bride_name | split:' ' | first }} weds {{ site.data[page.title].groom_name | split:' ' | first }}</p>
            <div class="social-wrap">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.weddingo.in">


                    <svg class="share-icon" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="27" height="27" rx="5.5" stroke="#828282" />
                        <path d="M11.8403 11.948H12.3403V11.448V9.15436C12.3403 7.73433 12.7394 6.61686 13.3967 5.86214C14.0479 5.11453 14.9889 4.67979 16.1727 4.67969C16.1729 4.67969 16.173 4.67969 16.1732 4.67969L18.3838 4.68366V7.59412L16.9374 7.5947C16.9373 7.5947 16.9372 7.5947 16.9372 7.5947C16.3398 7.59473 15.822 7.7225 15.4933 8.139C15.1908 8.52235 15.1503 9.0365 15.1503 9.50366V11.448V11.948H15.6503H18.274L18.2729 15.0958H15.6503H15.1503V15.5958V23.8936H12.3403V15.5958V15.0958H11.8403H9.61633V11.948H11.8403ZM18.5156 7.59407H18.5154H18.5156Z" stroke="#828282" />
                    </svg>
                </a>

                <a target="_blank" href="https://api.whatsapp.com/send?text=check out our wedding gallery on www.weddingo.in">
                    <svg class="share-icon" width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.4491 3.97307C19.1591 1.41086 16.1152 0 12.8765 0H12.8754C11.2736 0.000213411 9.7126 0.34722 8.23612 1.03163C6.75945 1.71604 5.43652 2.70563 4.30374 3.97307C2.01397 6.53507 0.753024 9.94154 0.753024 13.5648C0.753024 15.7256 1.21899 17.873 2.1019 19.7862L0.0640898 26.2999C-0.0795336 26.7594 0.0221281 27.2588 0.329974 27.603C0.545314 27.8442 0.828746 27.9722 1.12019 27.9722C1.24512 27.9722 1.37139 27.9487 1.4946 27.9005L7.31621 25.6206C9.02615 26.6085 10.9453 27.1299 12.8765 27.1299C16.1148 27.1299 19.1591 25.7188 21.4491 23.1568C23.7389 20.5948 25 17.1883 25 13.565C25 9.94154 23.7391 6.53507 21.4491 3.97307ZM20.5 22.3632C18.4872 24.6155 15.723 25.9221 12.8765 25.9221C11.1351 25.9221 9.43225 25.3534 7.90065 24.4413C7.62294 24.2761 7.29469 24.2477 7 24.3632L1 26.8632L3.07 19.8711C3.17319 19.541 3.14763 19.1737 3 18.8632C2.18499 17.1499 1.7575 15.5135 1.7575 13.5648C1.7575 10.3799 2.98718 7.11529 5 4.86316C7.01263 2.61125 10.0302 1.03206 12.8765 1.03163C15.7232 1.03163 18.4872 2.61082 20.5 4.86316C22.513 7.11529 23.8499 10.3799 23.8499 13.565C23.8499 16.7502 22.513 20.111 20.5 22.3632Z" fill="#535353" />
                        <path d="M17.382 14.7766C16.8243 14.1526 15.9168 14.1526 15.3591 14.7766L14.7491 15.4591C13.2345 14.5356 12.0088 13.1642 11.1833 11.4695L11.7933 10.7871C12.3512 10.163 12.3512 9.14763 11.7933 8.52362L10.1496 6.68444C9.59186 6.06043 8.68434 6.06043 8.12664 6.68444L6.81171 8.1557C6.0585 8.99846 6.02093 10.4473 6.70585 12.2355C7.30056 13.788 8.3889 15.4945 9.77039 17.0402C11.1519 18.586 12.677 19.8037 14.0646 20.4691C14.8239 20.8332 15.5146 21.0148 16.1114 21.0148C16.7707 21.0148 17.3155 20.7931 17.7109 20.3507L19.0258 18.8792C19.2961 18.5768 19.4448 18.1751 19.4448 17.7477C19.4448 17.32 19.2961 16.9182 19.0258 16.616L17.382 14.7766ZM17 19.8632C16.785 20.1037 15.6557 19.9172 14.5 19.3632C13.2797 18.778 11.7527 17.7648 10.5 16.3632C9.24726 14.9615 8.37154 13.392 7.84854 12.0266C7.35321 10.7336 7.28504 9.10367 7.5 8.86316L9 7.36316L11.1833 9.65361L10.3567 10.5688C10.0115 10.9551 9.92812 11.5409 10.1496 12.0266C11.1534 14.229 12.3523 15.4928 14.3207 16.616C14.755 16.8637 15.2786 16.7707 15.6238 16.3842L16.5 15.3632L18.6145 17.7477L17 19.8632Z" fill="#535353" />
                    </svg>
                </a>

                <a target="_blank" href="mailto:?Subject=Our Wedding PhotoGallery&amp;Body=Check%20out%20our%20wedding%20photo%20gallery%20https://www.weddingo.in/">
                    <svg class="share-icon" width="33" height="29" viewBox="0 0 33 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.3306 0H3.94613C1.76941 0 0 2.04113 0 4.5521V23.7772C0 26.2882 1.76941 28.3293 3.94613 28.3293H28.324C30.5007 28.3293 32.2701 26.2882 32.2701 23.7772V4.5598C32.2768 2.04883 30.5074 0 28.3306 0ZM31.0449 23.7772C31.0382 26 30.0682 27 28.3306 27H3.94613C1.93989 27 0.969943 25 0.969943 23.7772V4.5598C0.969943 2.5 2.42486 1 3.94613 1H28.324C30.0682 1 31.0382 2.5 31.0382 4.5598V23.7772H31.0449Z" fill="#949494" />
                        <path d="M19.8838 14.4082L28.244 5.76127C28.244 5.76127 27.9772 5.43136 27.6434 5.00002C27.3095 4.57639 27.1584 4.50002 27.1584 4.50002L16.1586 16.2988L13.5278 13.6695C13.5212 13.6618 13.5145 13.6541 13.5145 13.6464C13.4677 13.5925 13.421 13.5462 13.3676 13.5L4.3647 4.41467L3.79377 4.81705L3.39478 5.11009L12.6093 14.5L4.72083 22.6372L4.84971 23L5.33468 23.5H5.81965L13.3676 15.3969L15.5577 17.6537C15.7313 17.8309 15.9449 17.9156 16.1586 17.9156C16.3723 17.9156 16.5926 17.8232 16.7595 17.646L19.0097 15.3199L27.0355 24.116L27.1584 24L27.6434 23.5V23L19.8838 14.4082Z" fill="#949494" />
                    </svg>
                </a>




            </div>
        </section>


        {% if site.data[page.title].menu_list[5].visible %}
        <section class="gallery section-padding" id="gallery">

            <div class="container">
                <div class="row">


                    <div align="center" class="textfont galery-filter-btns">
                        <button class="btn btn-default filter-button active" data-filter="all">All</button>
                        {% assign filters = site.data[page.title].galleryfilters %}
                        {% for filter in filters %}
                        <button class="btn btn-default filter-button" data-filter="{{filter}}">{{filter | capitalize}}</button>
                        {% endfor %}
                    </div>
                    <br />


                    {% assign galleries = site.data[page.title].gallery %}
                    {% for gallery in galleries %}

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{gallery.tag}}">

                        <img src="img/compressedgal/{{gallery.image}}" data-progressive="img/gal/{{gallery.image}}" class="img-responsive progressive__img progressive--not-loaded">
                        <!--                        <div class="gal-img-caption textfont">{{gallery.caption}}</div>-->
                        <div class="gal-overlay" ></div>
                    </div>
                    {% endfor %}

                </div>
            </div>


            <!-- The Modal/Lightbox -->
            <div id="myModal" class="modal">
                <span class="close cursor" onclick="closeModal()">&times;</span>
                <div class="modal-content">
                    {% assign galleries = site.data[page.title].gallery %}
                    {% for gallery in galleries %}

                    <div class="mySlides">
                        <div class="numbertext">{{forloop.index}}</div>
                        <img src="img/gal/{{gallery.image}}" data-progressive="img/gal/{{gallery.image}}" class="img-responsive progressive__img progressive--not-loaded" style="width:100%; height:500px; object-fit:cover">
                    </div>
                    {% endfor %}

                    <!-- Next/previous controls -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>

            <!--
            <div class="container">
                <div class="row section-heading">
                    <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h2>Photo Album</h2>
                        <p>Relive the moments of our marriage.</p>
                    </div>
                </div>
            </div>
-->
            <!-- end of container -->

            <!--
            <div class="row content">
                <ul id="filter">
                    <li><a href="#" class="active" data-group="all">All</a></li>
                    <li><a href="#" data-group="akshay">Akshay</a></li>
                    <li><a href="#" data-group="ishita">Ishita</a></li>
                    <li><a href="#" data-group="haldi">Haldi</a></li>
                    <li><a href="#" data-group="wedding">Wedding</a></li>
                    <li><a href="#" data-group="reception">Reception</a></li>
                    <li><a href="#" data-group="honeymoon">Honeymoon</a></li>
                </ul>

                <div class="row" id="shuffle-wrapper"></div>

                <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
                    <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
                    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                        <img id="img01" class="w3-image">
                        <p id="caption" class="w3-opacity w3-large"></p>
                    </div>
                </div>
            </div>
-->
            <!-- end of content -->
        </section>
        <!-- end of gallery-->
        {% endif %}

        <!--
        <section class="map">
            <h2 class="hidden">Map</h2>
            <div id="googleMap-1"></div>
        </section>
-->
        <div class="footer-main-wrap">
            <div class="footer-container">
                <div class="row">
                    <div class="col col-sm-4"></div>
                    <div class="col col-sm-4 text-center">
                        <img src="img/weddingo-logo.png" class="footer-logo-img">
                        <a class="website-link-url" href="https://www.weddingo.in/" target="_blank" style="color: #fff !important">www.weddingo.in</a>
                    </div>
                    <div class="col col-sm-4 text-right footer-social-icons">
                        <p class="visit-us-text">Visit us:</p>
                        <a class="footer-svg" target="_blank" href="https://www.facebook.com/weddingowebsite/">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="27" height="27" rx="5.5" stroke="white" />
                                <path d="M11.8401 11.948H12.3401V11.448V9.15436C12.3401 7.73433 12.7392 6.61686 13.3966 5.86214C14.0478 5.11453 14.9888 4.67979 16.1726 4.67969C16.1728 4.67969 16.1729 4.67969 16.1731 4.67969L18.3836 4.68366V7.59412L16.9373 7.5947C16.9372 7.5947 16.9371 7.5947 16.9371 7.5947C16.3397 7.59473 15.8218 7.7225 15.4932 8.139C15.1907 8.52235 15.1502 9.0365 15.1502 9.50366V11.448V11.948H15.6502H18.2738L18.2728 15.0958H15.6502H15.1502V15.5958V23.8936H12.3401V15.5958V15.0958H11.8401H9.61621V11.948H11.8401ZM18.5155 7.59407H18.5153H18.5155Z" stroke="white" />
                            </svg>
                        </a>
                        <a class="footer-svg" target="_blank" href="https://wa.me/918291121661?text=Hey,%20I%20just%20checked%20out%20Weddingo.%20I%20am%20interested%20in%20creating%20an%20invitation%20for%20myself.">
                            <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.4491 3.97307C19.1591 1.41086 16.1152 0 12.8765 0H12.8754C11.2736 0.000213411 9.7126 0.34722 8.23612 1.03163C6.75945 1.71604 5.43652 2.70563 4.30374 3.97307C2.01397 6.53507 0.753024 9.94154 0.753024 13.5648C0.753024 15.7256 1.21899 17.873 2.1019 19.7862L0.0640898 26.2999C-0.0795336 26.7594 0.0221281 27.2588 0.329974 27.603C0.545314 27.8442 0.828746 27.9722 1.12019 27.9722C1.24512 27.9722 1.37139 27.9487 1.4946 27.9005L7.31621 25.6206C9.02615 26.6085 10.9453 27.1299 12.8765 27.1299C16.1148 27.1299 19.1591 25.7188 21.4491 23.1568C23.7389 20.5948 25 17.1883 25 13.565C25 9.94154 23.7391 6.53507 21.4491 3.97307ZM20.5 22.3632C18.4872 24.6155 15.723 25.9221 12.8765 25.9221C11.1351 25.9221 9.43225 25.3534 7.90065 24.4413C7.62294 24.2761 7.29469 24.2477 7 24.3632L1 26.8632L3.07 19.8711C3.17319 19.541 3.14763 19.1737 3 18.8632C2.18499 17.1499 1.7575 15.5135 1.7575 13.5648C1.7575 10.3799 2.98718 7.11529 5 4.86316C7.01263 2.61125 10.0302 1.03206 12.8765 1.03163C15.7232 1.03163 18.4872 2.61082 20.5 4.86316C22.513 7.11529 23.8499 10.3799 23.8499 13.565C23.8499 16.7502 22.513 20.111 20.5 22.3632Z" fill="white" />
                                <path d="M17.3822 14.7767C16.8244 14.1527 15.9169 14.1527 15.3592 14.7767L14.7493 15.4592C13.2346 14.5357 12.009 13.1644 11.1835 11.4697L11.7934 10.7872C12.3513 10.1632 12.3513 9.14776 11.7934 8.52374L10.1497 6.68456C9.59198 6.06055 8.68447 6.06055 8.12676 6.68456L6.81183 8.15582C6.05862 8.99858 6.02105 10.4474 6.70598 12.2356C7.30069 13.7882 8.38902 15.4946 9.77051 17.0403C11.152 18.5861 12.6771 19.8038 14.0647 20.4692C14.824 20.8333 15.5147 21.0149 16.1115 21.0149C16.7709 21.0149 17.3156 20.7932 17.711 20.3508L19.0259 18.8793C19.2962 18.5769 19.4449 18.1753 19.4449 17.7478C19.4449 17.3201 19.2962 16.9183 19.0259 16.6161L17.3822 14.7767ZM17.0001 19.8633C16.7852 20.1038 15.6558 19.9173 14.5001 19.3633C13.2798 18.7781 11.7529 17.765 10.5001 16.3633C9.24738 14.9616 8.37166 13.3921 7.84867 12.0267C7.35333 10.7337 7.28516 9.1038 7.50012 8.86328L9.00012 7.36328L11.1835 9.65373L10.3568 10.5689C10.0116 10.9552 9.92825 11.541 10.1497 12.0267C11.1535 14.2291 12.3525 15.4929 14.3209 16.6161C14.7552 16.8639 15.2787 16.7708 15.6239 16.3843L16.5001 15.3633L18.6146 17.7478L17.0001 19.8633Z" fill="white" />
                            </svg>
                        </a>
                        <a class="footer-svg" target="_blank" href="https://www.instagram.com/weddin.go/">
                            <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.1875 0.027832H7.8125C3.49844 0.027832 0 3.9422 0 8.76915V19.2587C0 24.0857 3.49844 28.0001 7.8125 28.0001H17.1875C21.5016 28.0001 25 24.0857 25 19.2587V8.76915C25 3.9422 21.5016 0.027832 17.1875 0.027832ZM24 19.2587C24 24 20.2031 27 17.1875 27H7.8125C4.79688 27 1 23.5 1 19.2587V8.76915C1 5.395 4 1 7.8125 1H17.1875C21 1 24 5.395 24 8.76915V19.2587Z" fill="white" />
                                <path d="M12.5 7.021C8.5 7.021 6 10.1382 6 14.0001C6 17.862 8.5 21.0001 12.5 21.0071C16.5 21.0141 19 18.0001 19 14.0001C19 9.50012 15.9516 7.021 12.5 7.021ZM12.5 20.0001C10.3469 20.0001 7 17.6759 7 14.0141C7 12.0001 8.5 8.00012 12.5 8.00012C16.5 8.00012 18 11.6032 18 14.0141C18 16.5001 16.5 20.0001 12.5 20.0001Z" fill="white" />
                                <path d="M19 6C19.5523 6 20 5.55229 20 5C20 4.44772 19.5523 4 19 4C18.4477 4 18 4.44772 18 5C18 5.55229 18.4477 6 19 6Z" fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of footer -->
    </div>


    <script src="js/jquery-1.11.3.min.js"></script>

    <!--      LAZY LOADING SCRIPT-->
    <script>








        $(window).load(function() {

			function isElementInViewport(t) {
				var i = t.getBoundingClientRect();

				return i.top >= 0 && i.left >= 0 && i.bottom <= ($(window).height() + 500) && i.right <= $(window).width()
			}
			$(window).on("DOMContentLoaded load resize scroll", function() {
				var t = $(".img-lazy");
				$(t).each(function(t) {
					isElementInViewport(this) && "" != $(this).data("src") && ("img" == $(this).nodeName ? $(this).attr("src", $(this).attr("data-src")) : $(this).attr("src", $(this).attr("data-src")), $(this).removeAttr("data-src"), $(this).removeClass("img-lazy"))
				}), 0 == t.length && $(window).off("DOMContentLoaded load resize scroll")
			});



		})

	</script>



    <!--Gallery Slider Script-->

    <script>
        $(document).ready(function() {

			$(".filter-button").click(function() {
				var value = $(this).attr('data-filter');

				if (value == "all") {
					//$('.filter').removeClass('hidden');
					$('.filter').show('1000');
				} else {
					//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
					//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
					$(".filter").not('.' + value).hide('3000');
					$('.filter').filter('.' + value).show('3000');

				}
			});

			if ($(".filter-button").removeClass("active")) {
				$(this).removeClass("active");
			}
			$(this).addClass("active");

		});

	</script>





    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script type="text/javascript">
        $(window).load(function() {

            var head = document.head || document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.onload = function() {

                console.log("Progressively Init");

                progressively.init();

            };

            script.src = "https://www.weddingo.in/js/progressively.js";

            var style = document.createElement('link');

            style.rel = 'stylesheet';

            style.href = "https://www.weddingo.in/css/progressively.css";

            head.appendChild(style);
            head.appendChild(script);
        })

    </script>
    <script>
        // Open the Modal
        function openModal() {
            document.getElementById('myModal').style.display = "block";
            listen();
        }

        // Close the Modal
        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
            listen();

        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);

        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }

    </script>


    <script>
        $('.filter-button').click(function() {
            console.log("Filter Button Clicked");


            $('.filter-button').removeClass('filter-active');

            $(this).addClass('filter-active');

        })

    </script>
</body>

</html>
