/*--------------------------------------------------------------
#1.12	footer
--------------------------------------------------------------*/

footer {
    overflow: hidden;
}

footer .row:first-child {
    background-color: $primary-color;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    text-align: center;
    padding: 90px 0;
}

footer h2 {
    font-size: 70px;
    line-height: 56px;
    color: #fff;
    margin: 0 0 15px;
    font-family: 'Dancing Script', cursive;
}

footer .row:first-child span {
    font-size: 35px;
    color: #fff;
}

footer .row:last-child {
    background-color: #1e1e1e;
    color: #fff;
    padding: 35px 0;
}

footer .row:last-child p {
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    text-transform: capitalize;
}

footer ul {
    float: right;
}

footer ul li {
    display: inline-block;
    text-align: center;
    margin-left: 23px;
}

footer ul li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: #df2349;
    font-size: 18px;
    border-radius: 50%;
}

footer ul li a:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width: 767px) {
         footer ul {
    float: none;
    width: 100%;
    text-align: center;
}

	}