/*--------------------------------------------------------------
#1.2	wedding-announcement
--------------------------------------------------------------*/


.announcement-img-frame {
    content:url($orange-img-frame);
}

.wedding-announcement {
    background: url(../images/home/announcement/announcement-bg.png) center center;
    position: relative;
    top: -10px;
}

.wedding-announcement .content {
    text-align: center;
}

.wedding-announcement .content h3 {
    font-family: 'Lobster', cursive;
    font-size: 48px;
}

.wedding-announcement .content h4 {
    background: url(../images/heading-heart.png) no-repeat center 35px;
    font-family: 'Roboto Slab', serif;
    margin: 55px 0 0;
    padding-bottom: 50px;
}

.wedding-announcement .left-col {
    background: url($left-dot-img) no-repeat 20px 50%;
    position: relative;
}

.wedding-announcement .right-col {
    background: url($right-dot-img) no-repeat 99% 49%;
    position: relative;
}

.wedding-announcement .left-col h3 {
    position: absolute;
    left: -150px;
    bottom: 200px;
}

.wedding-announcement .right-col h3 {
    position: absolute;
    right: -150px;
    bottom: 200px;
}


/*image frame*/

.wedding-announcement .frame {
    position: relative;
    overflow: hidden;
}

.wedding-announcement .frame img:first-child {
    position: relative;
    z-index: 5;
}

.wedding-announcement .frame img:last-child {
    width: 95%;
    position: absolute;
    top: 10px;
    left: 8px;
}

.wedding-announcement .signature {
    margin: 30px 0 0;
}


/*heart*/

.wedding-announcement .heart {
    background: url($heart) no-repeat center center;
    width: 90px;
    height: 103px;
    position: absolute;
    top: 50%;
    left: 47%;
}
