---
title: troue
---
<!DOCTYPE html>
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ site.data[page.title].groom_name | split:' ' | first }} Weds {{ site.data[page.title].bride_name | split:' ' | first }} - Weddingo">
    <meta name="keywords" content="{{ site.data[page.title].groom_name | split:' ' | first }} Weds {{ site.data[page.title].bride_name | split:' ' | first }} , Weddingo, {{ site.data[page.title].groom_name | split:' ' | first }} and {{ site.data[page.title].bride_name | split:' ' | first }}">
    <meta name="author" content="Weddingo">

    <title>{{ site.data[page.title].groom_name | split:' ' | first }} Weds {{ site.data[page.title].bride_name | split:' ' | first }} - Weddingo</title>
    <link rel="alternate" type="application/rss+xml" title="Best Day &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best Day &raquo; Comments Feed" href="comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best Day &raquo; Welcome Comments Feed" href="welcome/feed/index.html" />

    <link rel="icon" href="https://www.weddingo.in/images/Favicon/android-icon-144x144.png" type="image/gif">

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        @media screen and (max-width:800px) {
            .home_intro {
                background-image: url(wp-content/uploads/images/08/slider/{{site.data[page.title].slidermobimages | first}}) !important;
            }
        }

    </style>
    <link rel='stylesheet' id='bootstrap-css' href='wp-content/themes/bestday/css/bootstrap46df.css?ver=3.3.5' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-theme-css' href='wp-content/themes/bestday/css/bootstrap-theme46df.css?ver=3.3.5' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='wp-content/themes/bestday/css/font-awesome.min71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='flat-icon-css' href='wp-content/themes/bestday/css/flaticon/flaticon71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css' href='wp-content/themes/bestday/css/owl.carousel71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-transition-css' href='wp-content/themes/bestday/css/owl.transitions71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='colorbox-css' href='wp-content/themes/bestday/css/colorbox71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='main-styles-css' href='wp-content/themes/bestday/css/style71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='color-css' href='wp-content/themes/bestday/css/red71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='bestday-style-css' href='wp-content/themes/bestday/style71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='fw-ext-breadcrumbs-add-css-css' href='wp-content/plugins/unyson/framework/extensions/breadcrumbs/static/css/style71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='fw-ext-builder-frontend-grid-css' href='wp-content/plugins/unyson/framework/extensions/builder/static/css/frontend-grid576c.css?ver=1.1.13' type='text/css' media='all' />
    <link rel='stylesheet' id='fw-ext-forms-default-styles-css' href='wp-content/plugins/unyson/framework/extensions/forms/static/css/frontend747d.css?ver=2.4.5' type='text/css' media='all' />
    <link rel='stylesheet' id='fw-shortcode-section-background-video-css' href='wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/section/static/css/jquery.fs.wallpaper71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='fw-shortcode-section-css' href='wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/section/static/css/styles71f9.css?ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='googleFontsDancingScript-css' href='https://fonts.googleapis.com/css?family=Dancing+Script&amp;ver=4.2.21' type='text/css' media='all' />
    <link rel='stylesheet' id='googleFontsEBGaramond-css' href='http://fonts.googleapis.com/css?family=EB+Garamond&amp;ver=4.2.21' type='text/css' media='all' />
    <script type='text/javascript' src='wp-includes/js/jquery/jquery4a80.js?ver=1.11.2'></script>
    <script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.2.21" />
    <link rel='canonical' href='index.html' />
    <link rel='shortlink' href='index.html' />
    <style type="text/css">
        .code-div {
            background-size: 50%;
        }

        .video-section {
            width: 100%;
            height: 700px;
        }

        @media screen and (max-width:800px) {
            .code-div {
                background-size: 90%;
            }

            .video-section {
                width: 100%;
                height: 300px;
            }
        }

    </style>


</head>

<body class="home page page-id-6 page-template page-template-template-one-page page-template-template-one-page-php" style="overflow: hidden;">

    <!--<div class="full-div" style="height: 100vh;transition: 2s all;">
    </div>-->

    <div class="code-div" style="background-image: url(wp-content/uploads/images/08/code_bg/code_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 2s all;
    z-index: 999;
    background-color: #000000a8;">

        <p style="    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);">Enter Code Here</p>

        <input type="text" placeholder="Insert Code Here" style="position: absolute;top: 50%;left: 50%;transform: translate3d(-50%,-50%,0);" id="code-box" value="">

        <button id="openinvitation" style="    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);    height: 30px;
    width: 90px;
    line-height: 30px;
    padding: 0;
    font-size: 26px;
    background: #fea134;
    outline: none;
    border: none;
    box-shadow: none;
    color: white;
    font-family: sans-serif;">OPEN</button>

    </div>


    <!-- Header -->
    <div class="header">
        <div class="header_plane anim"></div>

        <!-- Menu Button -->
        <a class="main_menu_btn">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </a>

        <!-- Submenu -->
        <div class="main_menu_block">
            <div class="menu_wrapper">
                <div class="sub_menu anim">
                    <div class="menu-main-menu-container">
                            <ul id="primary-menu" class="menu">
                                    {% assign sortedmenu = site.data[page.title].menu_list | sort: 'sort_order' %}
                                    {% for menu in sortedmenu %}
                                    {% if menu.visible %}
        
                                    <li id="menu-item" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item"><a href="index.html#{{menu.href}}" title="{{menu.href}}">{{menu.menu_name}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul> 
                    </div>
                </div>
                <div class="sub_img anim"></div>
            </div>
        </div>
        <!--Submenu End -->

    </div>
    <!-- Header End -->

    <div class="page main-page">



        <!-- Intro -->
        <section class="home_intro white_txt parallax2
        " data-image="
        wp-content/uploads/images/08/slider/{{site.data[page.title].sliderimages | first}}" id="home">



            <div class="home_txt" data-0="opacity:1; bottom:70px" data-top-bottom="opacity:0; bottom:90px">

                <!-- Intro Text -->

                <div class="title1 title1_2 hii-name" style="text-transform: capitalize"></div>
                <div class="title1 title1_2">We are</div>
                <div class="title1 title1_2">Getting Married</div>
                <div class="bullet"><span>{{ site.data[page.title].wedding_details.date | date: "%-d-%B-%Y" | split:'-'  | first}} <b>{{ site.data[page.title].wedding_details.date | date: "%m-%d-%Y" | split:'-'  | first}}</b></span></div>
                <div class="title0">{{ site.data[page.title].wedding_details.date | date: "%-d-%B-%Y" | split:'-'  | last}}</div>
                <a href="#married" title="married" class="intro_down"><span><i class="fa fa-angle-down"></i></span></a>
            </div>

            <div class="into_firefly"></div>

        </section>
        <!-- Intro End -->



        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">







                <div class="entry-content">
                    <p>
                        {% if site.data[page.title].menu_list[1].visible %}
                        <section id="couple" class="fw-main-row ">
                            <div class="fw-container-fluid">

                                <div class="fw-row">
                                    <div class="fw-col-xs-12">

                                        <!-- Married -->
                                        <section class="married clearfix" id="married">
                                            <div class="container">
                                                <div class="im1 parallax" data-bottom="left:20%" data-center="left:-5%" data-image="wp-content/uploads/images/08/groom_bride/{{site.data[page.title].bride_image}}">
                                                    <div class="im_arrows" data-bottom=" top:-143px; right: -20px; opacity:0" data--100-bottom="opacity:1" data-center="opacity:1; top:-43px; right: 20px;"></div>
                                                </div>
                                                <div class="im2 parallax" data-bottom="right:20%" data-center="right:-5%" data-image="wp-content/uploads/images/08/groom_bride/{{site.data[page.title].groom_image}}">
                                                    <div class="im_arrows" data-bottom=" top:-143px; right: -20px; opacity:0" data--100-bottom="opacity:1" data-center="opacity:1; top:-43px; right: 20px;"></div>
                                                </div>

                                                <div class="married_txt" data-bottom="opacity:0;" data-center="opacity:1" style=" padding-bottom:80px !important;">
                                                    <h2>You&#039;re Invited</h2>
                                                    <p>On the{% assign day = site.data[page.title].wedding_details.date | date: "%-d" %}
                                                        {% case day %}
                                                        {% when '1' or '21' or '31' %}{{ day }}st
                                                        {% when '2' or '22' %}{{ day }}nd
                                                        {% when '3' or '23' %}{{ day }}rd
                                                        {% else %}{{ day }}th
                                                        {% endcase %}
                                                        {{ site.data[page.title].wedding_details.date | date: "of %B, %Y" }}</p>
                                                    <p> <b>{{site.data[page.title].groom_name}} &#038; {{site.data[page.title].bride_name}}</b></p>
                                                    <p> are getting married in {{site.data[page.title].wedding_details.location_name}}</p>
                                                    <div class="married_coundown" data-year="{{ site.data[page.title].wedding_details.date | date: "%-d-%B-%Y" | split:'-'  | last}}" data-month="{{ site.data[page.title].wedding_details.date | date: "%m-%d-%Y" | split:'-'  | first}}" data-day="{{ site.data[page.title].wedding_details.date | date: "%-d-%B-%Y" | split:'-'  | first}}"></div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- Married End -->
                                    </div>
                                </div>

                            </div>
                        </section>
                        {% endif %}
                        {% if site.data[page.title].menu_list[2].visible %}
                        <section id="story" class="fw-main-row ">
                            <div class="fw-container-fluid">

                                <div class="fw-row">
                                    <div class="fw-col-xs-12">

                                        <section class="our_story" id="our_story">
                                            <h2>Our Story</h2>

                                            <div class="story_wrapper">


                                                {% assign storys = site.data[page.title].our_story %}
                                                {% for story in storys %}

                                                <div class="story_item">
                                                    <div class="story_img parallax" data-image="wp-content/uploads/images/08/{{story.image}}">
                                                        <div class="story_img_plane"></div>
                                                    </div>
                                                    <div class="story_plane">
                                                        <div class="story_back"></div>
                                                        <div class="story_txt">
                                                            <div class="story_title">
                                                                {{ story.title }} <i>{{story.date}}</i>
                                                            </div>
                                                            <p>{{story.desc}}<br /></p>

                                                        </div>
                                                    </div>
                                                </div>

                                                {% endfor %}



    

                                            </div>
                                        </section>
                                    </div>
                                </div>

                            </div>
                        </section>
                        {% endif %}

                        <section id="where" >
                            <div>

                                <div >
                                    <div>

                                        <!-- When & Where -->
                                        <section class="when_where white_txt parallax" id="when_where" data-image="wp-content/uploads/images/08/{{site.data[page.title].wedding_details.image}}" data-bottom-top="opacity:0;" data-bottom="opacity:1;">
                                            <div class="over"></div>
                                            <div class="container">

                                                <!-- Photocamera Icon -->
<!--                                                <div class="photocamera"><span class="flaticon-slr2"></span></div>-->

                                                <div class="when_where_container opacity">
                                                    <h2>Where When</h2>

                                                    <!-- Texts -->
                                                    <div class="pattern1"></div>
                                                    <div class="title1">The Historic</div>
                                                    <div class="title2">{{site.data[page.title].wedding_details.location_name}}</div>
                                                    <div class="title3"><a href="{{site.data[page.title].wedding_details.google_map}}" title="maps" target="_blank" style="text-decoration: underline">
                                                            {{site.data[page.title].wedding_details.address}}</a><br /><a href="{{site.data[page.title].wedding_details.google_map}}" target="_blank" style="height: 32px;"><i class="flaticon-map35"></i></a> </div>

                                                    <div class="pattern2"></div>
                                                    <div class="title1">{{ site.data[page.title].wedding_details.time}} o&#039;clock&#039;</div>
                                                    
                                                    <div class="title5">In the {{site.data[page.title].wedding_details.timezone}}
                                                    </div>
                                                    <div class="title4">{% assign day = site.data[page.title].wedding_details.date | date: "%-d" %}
                                                        {% case day %}
                                                        {% when '1' or '21' or '31' %}{{ day }}st
                                                        {% when '2' or '22' %}{{ day }}nd
                                                        {% when '3' or '23' %}{{ day }}rd
                                                        {% else %}{{ day }}th
                                                        {% endcase %}
                                                        {{ site.data[page.title].wedding_details.date | date: "of %B, %Y" }}</div>
                                                    <div class="pattern3"></div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- When & Where End -->
                                    </div>
                                </div>

                            </div>
                        </section>
<!--
                        <section class="video-section">
                            <iframe width="100%" height="100%" src="{{ site.data[page.title].video | first }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </section>
-->

                        {% if site.data[page.title].menu_list[3].visible %}
                        <section id="our_events" class="fw-main-row ">
                            <div class="fw-container-fluid">

                                <div class="fw-row">
                                    <div class="fw-col-xs-12">

                                        <!-- Blog -->
                                        <section class="our_story" id="our_story">
                                            <h2>Our Events</h2>

                                            <!-- Wrapper -->
                                            <div class="story_wrapper">




                                                {% assign ceremonies = site.data[page.title].ceremonies %}
                                                {% for ceremony in ceremonies %}


                                                <!-- Item -->
                                                <div class="story_item">
                                                    <div class="story_img parallax" data-image="wp-content/uploads/images/08/{{ceremony.image}}">
                                                        <div class="story_img_plane"></div>
                                                    </div>
                                                    <div class="story_plane">
                                                        <div class="story_back"></div>
                                                        <div class="story_txt">
                                                            <div class="story_title">
                                                                {{ceremony.title}} <i>{{ceremony.date | date: "%d %B %Y"}}</i>
                                                            </div>
                                                            {% if ceremony.desc != '' %}
                                                            <p>{{ceremony.desc}} &#8230;</p>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </div>

                                                {% endfor %}

 

                                            </div>
                                        </section>
                                        <!-- Blog End -->
                                    </div>
                                </div>

                            </div>
                        </section>

                        <style>
                        .entry-content .viewgal{
                            color: #e93b38 !important;

                            border: 2px solid #e93b38;
                            color: #e93b38 !important;
                            text-decoration: underline;
                            padding: 8px 25px;
                            font-size: 20px;
                            text-decoration: none;
                            transition: all 0.4s ease-out;  

                        }
                        .entry-content .viewgal:hover{
                            background: #e93b38;
                            color: white !important;
                        }
                        
                        </style>
                        {% endif %}
                        {% if site.data[page.title].menu_list[5].visible %}
                        <section id="gallery" class="fw-main-row ">
                            <div class="fw-container-fluid">

                                <div class="fw-row">
                                    <div class="fw-col-xs-12">

                                        <!-- Gallery -->
                                        <section class="gallery" id="gallery">
                                            <h2>Our Gallery</h2>
                                            <!-- <a class="viewgal" href=""> View All </a> -->
                                            
                                            <div class="gallery_wrapper">
                                                {% assign galleries = site.data[page.title].gallery %}
                                                {% for gallery in galleries %}
                                                <div class="gallery_item">
                                                    <div class="gallery_txt">
                                                        <a href="wp-content/uploads/images/08/our_gallery/{{gallery.image}}" title="{{gallery.caption}}"><b>{{gallery.caption}}</b></a>
                                                    </div>
                                                    <img src="wp-content/uploads/images/08/our_gallery/{{gallery.image}}" alt="{{gallery.caption}}">
                                                </div>
                                                {% endfor %}



                                            </div>
                                        </section>
                                        <!-- Gallery End -->

                                    </div>
                                </div>

                            </div>
                        </section>
                        {% endif %}

                </div>
                <!-- .entry-content -->

                <footer class="entry-footer">
                </footer>
                <!-- .entry-footer -->






            </main>
            <!-- #main -->
        </div>
        <!-- #primary -->




        <!-- Footer -->
        <section class="footer white_txt parallax" id="footer" data-image="wp-content/uploads/images/08/footer/{{ site.data[page.title].footer_image}}">

            <div class="over"></div>
            <div class="container" style="padding-bottom: 20px;">


                <div class="thanks">

                    <div class="title1">{{ site.data[page.title].groom_name | split:' ' | first }} & {{ site.data[page.title].bride_name | split:' ' | first }}</div>


                </div>
                <div class="footer_txt">





                    <!-- Copyrights -->
                    <div class="copyrights">To {{ site.data[page.title].groom_name | split:' ' | first }} & {{ site.data[page.title].bride_name | split:' ' | first }} - with love from Weddingo</div>
                </div>
                <div style="text-align: center;">
                    <a href="https://www.weddingo.in">
                        <img src="wp-content/uploads/images/08/weddingo_logo/logo.png" alt="logo" style="width: 60%;margin: 20px;max-width: 240px;">
                    </a>
                </div>
            </div>
        </section>
    </div>

    <script>
        jQuery('#openinvitation').click(function() {

            if (jQuery('#code-box').val().indexOf("1725") != -1) {
                name = jQuery('#code-box').val();
                name = name.substring(0, name.length - 4);
                jQuery('.hii-name').html("Hiii " + name);

                jQuery('.full-div').css('height', '0vh');
                jQuery('.full-div').css('display', 'none');
                jQuery('body').css({
                    'overflow': 'scroll'
                });
                jQuery('.code-div').css('top', '-50%');
            };

        });

    </script>

    <!--Google analytics code-->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-131007758-5', 'auto');
        ga('send', 'pageview');

    </script>


    <script type='text/javascript' src='wp-content/themes/bestday/js/jquery.plugin.minf269.js?ver=1.0.1'></script>
    <script type='text/javascript' src='wp-content/themes/bestday/js/jquery.countdown.minf269.js?ver=1.0.1'></script>
    <script type='text/javascript' src='wp-content/themes/bestday/js/jquery.colorbox-minaff7.js?ver=1.6.0'></script>
    <script type='text/javascript' src='wp-content/themes/bestday/js/owl.carousel.min19f6.js?ver=1.0.7'></script>
    <script type='text/javascript' src='wp-content/themes/bestday/js/bootstrap.min46df.js?ver=3.3.5'></script>
    <script type='text/javascript' src='wp-content/themes/bestday/js/skrollr.min7bd6.js?ver=0.6.29'></script>
    <!--<script type='text/javascript' src='wp-content/themes/bestday/js/prefixfree.mincfa9.js?ver=1.1.2'></script>-->
    <script type='text/javascript' src='wp-content/themes/bestday/js/jquery.firefly-0.3-minf748.js?ver=0.3'></script>
    <script type='text/javascript' src='wp-content/plugins/unyson/framework/static/js/fw-form-helpersfc3c.js?ver=2.4.4'></script>
    <script type='text/javascript' src='wp-content/themes/bestday/js/script5152.js?ver=1.0'></script>
    <script type='text/javascript' src='wp-includes/js/comment-reply.min71f9.js?ver=4.2.21'></script>
    <script type='text/javascript' src='wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/section/static/js/jquery.fs.wallpaper.min71f9.js?ver=4.2.21'></script>
    <script type='text/javascript' src='wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/section/static/js/scripts71f9.js?ver=4.2.21'></script>

</body>

<!-- Mirrored from bestday.maskandesign.com/wp/red/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Dec 2018 16:57:11 GMT -->

</html>
