/*!
 * Start Bootstrap -  v1.0.0 (https://bitbucket.org/richardfern/wedding-invitation#readme)
 * Copyright 2013-2018 
 * Licensed under ISC (https://github.com/BlackrockDigital/wedding_invitation/blob/master/LICENSE)
 */
/* This will get you the primary color */

/* @-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp
} */


.popupelementsdiv {
    color: var(--primary-color);
}

.popupelementsdiv-back {
    color: var(--primary-color) !important;
}

.popupcodeinput {
    border: 1px var(--primary-color) solid;
    color: var(--primary-color);
}

.popupinvalidcode {
    color: var(--primary-color);
}

.popupgobtn {
    background-color: var(--primary-color);
}

/*--------------------------------------------------------------
#1.1	header
--------------------------------------------------------------*/
header {
    position: relative;
}

/*navigation*/
header .navbar {
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml,<svg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.18' fill-rule='evenodd'/></svg>");
    width: 100%;
    height: 100px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    z-index: 200;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

header .smaller {
    height: 100px;
}

#navbar {
    position: relative;
}

#navbar .navbar-nav {
    position: relative;
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

#navbar a {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #fff;
    padding-top: 0;
    padding-bottom: 20px;
}

#navbar a:hover,
#navbar a:focus,
#navbar ul li.active a {
    background: none !important;
    color: #2a1d22;
}

#navbar a:focus {
    color: #fff;
}

/*dropdown*/
header .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 4px solid #f44d6e;
    padding: 0;
    border-bottom: 0;
    border-radius: 0;
}

header #navbar .dropdown-menu li a {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #1e1e1e;
    display: block;
    padding: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

header #navbar .dropdown-menu li a:hover {
    background-color: #fff !important;
    color: var(--primary-color);
    padding-left: 13px;
}

/*logo*/
header .theme-logo a {
    position: relative;
    overflow: hidden;
    padding-bottom: 0 !important;
}

header .theme-logo a img {
    height: 100px;
    width: 100px;
}

header .theme-logo a>div {
    background: rgba(255, 255, 255, 0.63) url(../themes/logo-heart.png) no-repeat center center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header .theme-logo a>div div {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header .theme-logo span {
    display: block;
    font-size: 15px;
    color: #2a1d22;
    text-align: center;
}

header .theme-logo a>div div span:first-child {
    margin-bottom: 25px;
}

/*title*/
header .title-bg {
    background: url(../themes/title-bg.png) no-repeat center center;
    width: 100%;
    height: 338px;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
    z-index: 50;
}

header .title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 14%;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
}

header .title h1 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 25px;
}

header .title h2 {
    font-family: 'Lobster', cursive;
    font-size: 95px;
    color: var(--primary-color);
    margin: 0 0 17px;
}

header .title .date {
    font-size: 30px;
    color: #fff;
}

header .navbar-brand {
    display: none;
}

@media only screen and (max-width: 767px) {

    /*navbar*/
    header .navbar {
        background: none;
        height: auto;
        overflow: hidden;
    }

    header .navbar-header {
        background-color: var(--primary-color);
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
        height: 70px;
    }

    header .navbar-header button {
        border: 1px solid #fff;
        right: 15px;
        top: 10px;
    }

    header .navbar-header button span {
        background: #fff;
    }

    #navbar {
        border-top: 0;
    }

    #navbar .navbar-nav {
        background: var(--primary-color);
        overflow-Y: scroll;
        overflow-x: hidden;
        margin: 0;
        top: 0;
        border-top: 1px solid #fff;
    }

    #navbar a {
        color: #fff;
        font-size: 15px;
        padding: 10px 05px 10px 25px;
    }

    #navbar a:hover {
        background-color: var(--primary-color) !important;
    }

    /*drop-dwon*/
    #navbar .dropdown-menu {
        background-color: #fff;
        width: 100%;
        border-top: 0;
        left: 45px;
    }

    header .navbar-brand {
        font-family: 'Lobster', cursive;
        width: auto;
        height: auto;
        color: #fff;
        font-size: 22px;
        padding: 0;
        display: inline-block;
        margin: 25px 0 0 35px;
    }

    header .title-bg {
        top: 60%;
        -webkit-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
    }

    /*slider*/
    header .slider .owl-buttons .owl-prev,
    header .slider .owl-buttons .owl-next {
        top: 52%;
    }

    header .slider .owl-buttons .owl-prev {
        left: 15px;
    }

    header .slider .owl-buttons .owl-next {
        right: 15px;
    }

    .event-div {
        flex-direction: column !important;
    }
}

/*@media only screen and (max-width: 990px) {

	header .navbar-header {
		background-color: $primary-color !important;
		height: 70px !important;
	}
    
    #navbar .navbar-nav {
		background-color: $primary-color !important;
		margin: 0 !important;
		top: 0 !important;
		border-top: 1px solid #fff !important;
	}

}*/
.icon-frame svg {
    width: 25px;
    height: 78px;
}

.ceremony-info-1:hover .icon-frame .svg-contact-icon-1 path {
    fill: #fff;
}

.ceremony-info-1:hover .icon-frame .svg-heart-1 path {
    fill: var(--primary-color);
    stroke: none;
}

.ceremony-info-2:hover .icon-frame .svg-contact-icon-2 path {
    fill: #fff;
}

.ceremony-info-2:hover .icon-frame .svg-heart-2 path {
    fill: var(--primary-color);
    stroke: none;
}

.svg-heart {
    width: 100px !important;
    height: 100px !important;
}

.svg-heart path {
    stroke: grey;
}

.svg-contact-icon {
    position: absolute;
    top: 15px;
    right: 30px;
}

.wedd-location {
    text-align: center;
}

.wedd-location .icon-frame {
    width: 92px;
    height: 78px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.wedd-location .icon-frame i {
    font-size: 28px;
    color: #1e1e1e;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wedd-location h3 {
    font-family: 'Lobster', cursive;
    margin-bottom: 45px;
}

.wedd-location .container .row:last-child p {
    font-size: 16px;
    color: #1e1e1e;
    margin: 40px 0 0;
}

.wedd-location .container .row:last-child>.col {
    padding: 0 25px;
}

.wedd-location .container .row:last-child>.col:hover i {
    color: #fff;
}

#googleMap-1 {
    height: 400px;
}

/*--------------------------------------------------------------
#1.5	event
--------------------------------------------------------------*/
.event-block svg {
    width: 15px;
    margin-right: 5px;
}

.event {
    overflow: hidden;
}

.event .content .row {
    margin-bottom: 75px;
}

.event .content .row:last-child {
    margin-bottom: 0;
}

.event .content h3 {
    margin: 15px 0;
}

.event h3+p {
    display: inline-block;
    font-size: 18px;
    color: #1e1e1e;
}

.event h3+p span {
    display: inline-block;
}

.event h3+p i {
    display: inline-block;
    padding-right: 7px;
}

.location-pop-btn {
    display: block;
}

.location-pop-btn i {
    font-size: 18px !important;
}

/*event-frame*/
.event .event-frame {
    width: 323px;
    height: 321px;
    position: relative;
    overflow: hidden;
}

.event .event-frame img:first-child {
    position: relative;
    z-index: 5;
}

.event .event-frame img:last-child {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;

}

.event-address-wrapper {
    position: relative;
}

.event-address-wrapper .where-are-you-coming-from-popup-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.event-address-wrapper .where-are-you-coming-from-popup {
    height: 18px;
    width: 18px;
    position: fixed;
    transition: 0.4s all;
    background-image: url(../themes/loc-pop-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    transform: translate(-50%, 0);
    top: 30%;
    left: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
    text-align: center;
    opacity: 0;
}

.event-address-wrapper .active {
    /*clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);*/
    height: 344px;
    width: 400px;
    border-radius: 5px;
    z-index: 15;
    background-color: var(--primary-color);
    opacity: 1;
}

.event-address-wrapper .popup-wrapper .content-wrapper {
    padding: 0 10px;
}

.event-address-wrapper .popup-wrapper .content-wrapper .where-text {
    color: white;
    font-size: 17px;
    margin: 0;
    font-family: sans-serif;
    padding: 8px 0;
}

.event-address-wrapper .popup-wrapper .content-wrapper .place-input {
    border: none;
    padding: 4px;
    border-radius: 2px;
    outline: none;
    width: 90%;
}

.event-address-wrapper .popup-wrapper .map-outer-wrapper {
    width: 100%;
    height: 210px;
    padding: 8px;
    position: relative;
}

.event-address-wrapper .popup-wrapper .map-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

#mode-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

#mode-selector input {
    margin: 0;
}

#mode-selector label {
    margin: 0;
    font-family: sans-serif;
    color: white;
    font-weight: 100;
    padding: 0 4px;
}

#origin-input {
    width: 80%;
    margin: 0 0 8px 0px;
    padding: 4px;
    font-family: sans-serif;
    font-size: 13px;
    outline: none;
    border: none;
    border-radius: 2px;
}

.time-dist-text {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
    font-size: 13px;
}

.event-address {
    font-size: 18px !important;
    display: inline !important;
}

/*--------------------------------------------------------------
#1.12	footer
--------------------------------------------------------------*/
footer {
    overflow: hidden;
}

footer .row:first-child {
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    text-align: center;
    padding: 90px 0;
}

footer h2 {
    font-size: 70px;
    line-height: 56px;
    color: #fff;
    margin: 0 0 15px;
    font-family: 'Dancing Script', cursive;
}

footer .row:first-child span {
    font-size: 35px;
    color: #fff;
}

footer .row:last-child {
    background-color: #1e1e1e;
    color: #fff;
    padding: 35px 0;
}

footer .row:last-child p {
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    text-transform: capitalize;
}

footer ul {
    float: right;
}

footer ul li {
    display: inline-block;
    text-align: center;
    margin-left: 23px;
}

footer ul li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: #df2349;
    font-size: 18px;
    border-radius: 50%;
}

footer ul li a:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 767px) {
    footer ul {
        float: none;
        width: 100%;
        text-align: center;
    }
}

.gallery-title {
    font-size: 36px;
    color: var(--primary-color);
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button {
    font-size: 18px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
    outline: none;
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: var(--primary-color);
    outline: none;
}

.btn-default:active .filter-button:active,
filter-button:focus {
    background-color: var(--primary-color);
    color: white;
    outline: none;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

.gallery_product img {
    transition: transform .2s;
}

.gallery_product:hover .gal-overlay {
    visibility: visible;
}

.gal-overlay {
    cursor: pointer;
    background: var(--primary-color) no-repeat center center;
    opacity: .5;
    width: 92.6%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
}

@media only screen and (max-width: 1200px) {
    .gal-overlay {
        width: 91%;
    }
}

@media only screen and (max-width: 990px) {
    .gal-overlay {
        width: 88%;
    }
}

@media only screen and (max-width: 767px) {
    .gal-overlay {
        width: 92%;
    }
}

@media only screen and (max-width: 400px) {
    .gal-overlay {
        width: 97.5%;
    }
}

.gal-img-caption {
    width: 100%;
    bottom: 0;
    height: 30px;
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    padding: 5px;
}

.gallery_product img {
    height: 365px;
    width: 365px;
    object-fit: cover;
}

@media only screen and (max-width: 767px) {
    .gallery_product img {
        height: 160px !important;
    }
}

@media only screen and (max-width: 400px) {
    .gallery_product {
        margin-bottom: 2px;
        box-sizing: border-box;
        padding: 2px;
    }
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1200;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

@media only screen and (max-width: 767px) {
    .modal {
        padding-top: 10vh;
    }
}

@media only screen and (max-width: 325px) {
    .modal {
        padding-top: 0px;
    }
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: none !important;
    opacity: 1 !important;
}

@media only screen and (max-width: 767px) {
    .close {
        z-index: 1300;
    }
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.galery-filter-btns .active {
    background-color: var(--primary-color) !important;
    color: white !important;
    outline: none;
}

.section-padding {
    padding: 130px 0;

}

.section-heading {
    text-align: center;
}

.section-heading h2 {
    background: url(../themes/heading-bg.png) no-repeat center 60px;
    font-size: 45px;
    color: #2a1d22;
    line-height: 38px;
    margin: 0;
    padding-bottom: 55px;
    font-family: 'Dancing Script', cursive;
}

.section-heading p {
    font-size: 18px;
    font-weight: lighter;
    line-height: 35px;
    margin: 0 0 60px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.banar {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
}

.banar .overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.banar .banar-title {
    position: absolute;
    top: 60%;
    text-align: center;
}

.banar .banar-title h1 {
    font-size: 45px;
    color: #fff;
    margin-bottom: 30px;
}

.banar .banar-title p {
    font-size: 18px;
    color: #fff;
}

/*site-loder*/
/*
Theme Name:  True-Love-Bootstrap Wedding Template
Theme URI: http://true-love.themexriver.com
Author: themexriver
Description: True-Love-Bootstrap Wedding Template
Version: 1.0
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Theme Reset Style
#0.2	Global Elements 


=========================================================
1.	index page
=========================================================
#1.1	header
#1.2	wedding-announcement
#1.3	love-story
#1.4	video-bg
#1.5	event
#1.6	gallery
#1.7	groomsmen-bridesmaids
#1.8	gift-registration
#1.9	rsvp
#1.10	journal
#1.11	wedd-location
#1.12	footer


=========================================================
2.	blog
=========================================================
#2.1	blog-header
#2.2	blog-content


=========================================================
3.	blog-details
=========================================================
#3.1	blod-details-header
#3.2	blog-details-content


=========================================================
4.	blog-masonry
=========================================================
#4.1	blog-masonry-header
#4.2	blog-masonry-content


=========================================================
5.	404
=========================================================
#5.1	404-header


=========================================================
6.	comming-soon
=========================================================
#6.1	comming-soon-content





*/
/*--------------------------------------------------------------
#0.1	Theme Reset Style
--------------------------------------------------------------*/
body {
    font-family: 'Roboto Slab', serif;
    color: #1e1e1e;
}

h1 {
    font-family: 'Lobster', cursive;
}

h3 {
    color: #1e1e1e;
    font-size: 30px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 14px;
    line-height: 30px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a,
a:hover {
    text-decoration: none !important;
}

a:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

::-webkit-input-placeholder {
    opacity: 1 !important;
}

input::-moz-placeholder {
    opacity: 1 !important;
}

input:-moz-placeholder {
    opacity: 1 !important;
}

/*--------------------------------------------------------------
#0.2	Global Elements 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#1	index-page
--------------------------------------------------------------*/
.journal {
    overflow: hidden;
    padding-bottom: 0;
}

.journal .content {
    background: #df2349 url(../images/home/journal/bg.jpg);
    margin-top: 150px;
    padding-bottom: 130px;
    position: relative;
}

.journal .content:after {
    content: "";
    width: 100%;
    height: 32px;
    display: block;
    background: url(../images/home/bottom-shape.png) repeat-x;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.journal .content .container {
    margin-top: -114px;
}

.journal .frame {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    top: -37px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.journal .frame img {
    border-radius: 50%;
}

.journal .frame .frame-main {
    position: relative;
    z-index: 5;
}

.journal .frame .frame-sm {
    width: 100%;
    position: relative;
    z-index: 5;
    display: none;
}

.journal .frame .main-img {
    width: 97%;
    position: absolute;
    right: 2px;
    top: 2px;
}

/*hover-title*/
.journal .frame .hover-title {
    background: rgba(223, 35, 73, 0.8) url(../images/home/journal/hover-frame.png) no-repeat 45% center;
    background-size: 85%;
    width: 98%;
    height: 98%;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 4;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.journal .frame a:hover .hover-title {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.journal .frame .hover-title div {
    background: #fff;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.journal .frame .hover-title div span {
    display: inline-block;
    font-size: 24px;
    color: #df2349;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*bottom-links*/
.journal .link {
    text-align: center;
}

.journal .link a {
    background-color: transparent;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 45px;
    margin: 15px 10px 0 0;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.journal .link a:hover {
    background-color: #fff;
    color: #df2349;
}

/*--------------------------------------------------------------
#2	blog
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#2.1	blog-header
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#2.2	blog-content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#3	blog-details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#3.1	blog-details-header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#3.2	blog-details-content
--------------------------------------------------------------*/

/*comment-submit-form*/

/*--------------------------------------------------------------
#4	blog-masonry
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#4.1	blog-masonry-header
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#4.2	blog-masonry-content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#5	404
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#5.1	404-header
--------------------------------------------------------------*/
#error-404 .banar {
    background-image: url(../images/error-404-banar.jpg);
    height: 684px;
}

#error-404 .banar h2 {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    margin-bottom: 20px;
}

#error-404 .banar a {
    background-color: #df2349;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px 40px;
    margin-top: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#error-404 .banar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#error-404 .banar-title {
    position: absolute;
    top: 45%;
    text-align: center;
}

/*--------------------------------------------------------------
#6	comming-soon
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#6.1	comming-soon-content
--------------------------------------------------------------*/
.comming-soon-content {
    background: url(../images/comming-soon/bg.png) center center;
    text-align: center;
    padding: 250px 0 50px;
}

.comming-soon-content .container {
    height: 100%;
}

.comming-soon-content h1 {
    background-image: url(../images/comming-soon/heading-left-icon.png), url(../images/comming-soon/heading-right-icon.png);
    background-repeat: no-repeat;
    background-position: left center, right center;
    font-size: 83px;
    color: #df2349;
    display: inline-block;
    padding: 0 140px;
}

.comming-soon-content h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 38px;
    color: #020202;
    padding-bottom: 80px;
}

.comming-soon-content #clock {
    width: 100%;
    height: 100%;
}

#clock .wrapper-digit {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#clock .wrapper-digit .digit {
    font-family: 'Lobster', cursive;
}

#clock .wrapper-digit p {
    font-size: 20px;
    margin-top: -10px;
}

#clock .time>div {
    background: url(../images/comming-soon/frame.png) no-repeat;
    background-size: cover;
    width: 172px;
    height: 172px;
    margin: 0 auto;
    position: relative;
}

#clock .wrapper-digit div {
    width: 35px !important;
    height: 80px !important;
    display: inline-block;
    font-size: 60px !important;
    color: #df2349;
    overflow: hidden;
}

/*css3 animation*/
.logo-rotating {
    -webkit-animation: logo-rotating 20s linear infinite;
    animation: logo-rotating 20s linear infinite;
}

@-webkit-keyframes logo-rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes logo-rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.heart-animation {
    -webkit-animation: heart-animation 2s ease-in-out infinite alternate;
    -webkit-transform-origin: bottom;
    animation: heart-animation 2s ease-in-out infinite alternate;
    transform-origin: bottom;
}

@-webkit-keyframes heart-animation {
    0% {
        -webkit-transform: rotateZ(20deg);
    }

    100% {
        -webkit-transform: rotateZ(-20deg);
    }
}

@keyframes heart-animation {
    0% {
        transform: rotateZ(20deg);
    }

    100% {
        transform: rotateZ(-20deg);
    }
}

.inviname {
    position: absolute;
    top: 31%;
    width: 100%;
    text-align: center;
    z-index: 190;
    color: white;
    font-size: -webkit-xxx-large;
}

.inviinvi {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    z-index: 190;
    color: white;
    font-size: xx-large;
}

.photoquote {
    color: white;
    width: 100%;
    text-align: center;
    /* z-index: 000; */
    margin-top: 20%;
    position: absolute;
    font-size: -webkit-xxx-large;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Theme Reset Style
#0.2	Global Elements 


=========================================================
1.	index page
=========================================================
#1.1	header
#1.2	wedding-announcement
#1.3	love-story
#1.4	video-bg
#1.5	event
#1.6	groomsmen-bridesmaids
#1.7	gift-registration
#1.8	rsvp
#1.9	journal
#1.10	wedd-location
#1.11	footer


=========================================================
2.	blog
=========================================================
#2.1	blog-content


=========================================================
3.	blog-details
=========================================================
#3.1	blog-details-content


=========================================================
4.	blog-masonry
=========================================================
#4.1	blog-masonry-content


=========================================================
5.	comming-soon
=========================================================
#5.1	comming-soon-content




*/
/*--------------------------------------------------------------
#0.2	Global Elements 
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    .banar .banar-title {
        top: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 100px 0;
    }

    .section-heading {
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-heading h2 {
        font-size: 35px;
        line-height: 31px;
    }

    .section-heading p {
        font-size: 16px;
    }

    .banar .banar-title {
        top: 50% !important;
        height: auto !important;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .banar .banar-title h1 {
        font-size: 35px;
    }

    .banar .banar-title p {
        font-size: 16px;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 500px) {
    h3 {
        font-size: 25px !important;
    }

    .section-padding {
        padding: 90px 0;
    }

    .section-heading {
        padding-left: 0;
        padding-right: 0;
    }

    .section-heading h2 {
        background-position: center 40px;
        font-size: 30px;
    }

    .section-heading p {
        font-size: 15px;
    }
}

/*=========================================================
1.	index page
=========================================================*/
/*--------------------------------------------------------------
#1.1	header
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
    #navbar a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 991px) {

    /*navbar*/
    header .navbar {
        background: url(../images/header-sm-bg.png) repeat-x;
        height: 95px;
    }

    header .smaller {
        height: 75px;
    }

    #navbar a {
        font-size: 15px;
    }

    header .navbar .container {
        padding: 0;
    }

    /*theme-logo*/
    header .theme-logo a>div {
        width: 80px;
        height: 80px;
    }

    header .theme-logo span {
        font-size: 18px;
    }

    header .theme-logo a>div div span:first-child {
        margin-bottom: 10px;
    }

    /*title*/
    header .title-bg {
        background: url(../themes/title-sm-bg.png) no-repeat center center;
        height: 262px;
        top: 70%;
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
    }

    header .title h1 {
        font-size: 25px;
        margin: 15px 0 20px;
    }

    header .title h2 {
        font-size: 70px;
        margin: 0 0 15px;
    }

    header .title .date {
        font-size: 25px;
    }

    /*slider*/
    header .slider .owl-buttons .owl-prev,
    header .slider .owl-buttons .owl-next {
        top: 58%;
    }
}

@media only screen and (max-width: 535px) {

    /*slider*/
    header .slider {
        /*        margin-top: 70px;*/
        padding-top: 70px;
        min-height: 600px;
    }

    header .slider .slide-item {
        height: 600px;
    }

    /*title*/
    header .title-bg {
        background: url(../images/title-xs-bg.png) no-repeat center center;
        height: 183px;
    }

    header .title h1 {
        font-size: 18px;
        margin: 10px 0 12px;
    }

    header .title h2 {
        font-size: 50px;
        margin: 0 0 7px;
    }

    header .title .date {
        font-size: 18px;
    }

    /*pagination*/
    header .slider .owl-buttons .owl-prev,
    header .slider .owl-buttons .owl-next {
        display: none !important;
    }

    header .slider .owl-pagination {
        display: block !important;
    }

    header .slider .owl-controls {
        width: 100%;
        position: absolute;
        bottom: 100px;
    }

    header .slider .owl-controls span {
        background: #df2349 !important;
    }
}

/*--------------------------------------------------------------
#1.2	wedding-announcement
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
    .wedding-announcement .content h3 {
        display: none;
    }

    .wedding-announcement .left-col,
    .wedding-announcement .right-col {
        background: none;
    }

    .wedding-announcement .frame img:last-child {
        top: 8px;
    }
}

@media only screen and (max-width: 767px) {
    .wedding-announcement .frame img:last-child {
        width: 100%;
        width: 94%;
        top: 8px;
        left: 9px;
    }

    .wedding-announcement .heart {

        width: 60px;
        height: 69px;
        top: 55%;
        left: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .wedding-announcement {
        background-image: none, url(../themes/announcement-bg.png);
    }

    .wedding-announcement .heart {
        display: none;
    }

    .wedding-announcement .content>.col .col {
        width: 100%;
        margin-bottom: 100px;
    }

    .wedding-announcement .right-col .col {
        margin-bottom: 0 !important;
    }

    .wedding-announcement .frame {
        width: 70%;
        margin: 0 auto;
    }

    .wedding-announcement .frame img:first-child {
        visibility: hidden;
    }

    .wedding-announcement .singnature {
        font-size: 25px;
        margin: 20px 0 0;
    }
}

/*--------------------------------------------------------------
#1.7	gift-registration
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
    .gift-registration .gift-slider a {
        padding: 15px 10px;
    }
}

@media only screen and (max-width: 991px) {
    .gift-registration .gift-slider a img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .gift-registration .gift-slider a {
        padding: 10px 0;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .gift-registration .owl-item {
        position: relative;
        left: 10px;
    }
}

/*--------------------------------------------------------------
#1.9	journal
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    .journal .content .container {
        margin-top: -91px;
    }

    .journal .content .container>.col {
        padding-left: 0;
        padding-right: 0;
    }

    .journal .frame {
        width: 230px;
        height: 230px;
        top: -25px;
    }

    .journal .frame .hover-title div span {
        display: inline-block;
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .journal .content {
        margin-top: 0;
    }

    .journal .content .container {
        margin-top: 100px;
    }

    .journal .content .col {
        width: 80%;
        margin: 0 auto 50px;
    }

    .journal .frame .frame-main {
        display: none;
    }

    .journal .frame .frame-sm {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .journal .link a {
        font-size: 14px;
        padding: 7px 15px;
        margin: 0 5px 0 0;
    }
}

/*--------------------------------------------------------------
#1.10	wedd-location
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    .wedd-location .container .row:last-child>.col {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 767px) {
    .wedd-location h3 {
        margin-bottom: 20px;
    }

    .wedd-location .container .row:last-child>.col {
        padding: 0 15px 100px;
    }

    .wedd-location .container .row:last-child>.col:last-child {
        padding-bottom: 0;
    }
}

/*--------------------------------------------------------------
#1.11	footer
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    footer h2 {
        font-size: 45px;
    }

    footer .row:first-child span {
        font-size: 25px;
    }
}

@media only screen and (max-width: 767px) {
    footer h2 {
        font-size: 35px;
    }

    footer .row:first-child span {
        font-size: 20px;
    }

    footer .row:last-child {
        padding-left: 15px;
    }

    footer .container .col {
        width: 100%;
    }

    footer ul {
        float: left;
        margin-top: 15px;
    }

    footer ul li:first-child {
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    footer h2 {
        font-size: 30px;
    }

    footer .row:first-child span {
        font-size: 20px;
    }
}

/*=========================================================
2.	blog
=========================================================*/
/*--------------------------------------------------------------
#2.1	blog-content
--------------------------------------------------------------*/


/*=========================================================
3.	blog-details
=========================================================*/
/*--------------------------------------------------------------
#3.1	blog-details-content
--------------------------------------------------------------*/





/*--------------------------------------------------------------
#4	blog-masonry
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#4.1	blog-masonry-content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#5	comming-soon
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#5.1	comming-soon-content
--------------------------------------------------------------*/



/*--------------------------------------------------------------
#1.2	wedding-announcement
--------------------------------------------------------------*/


.wedding-announcement {
    background: url(../themes/announcement-bg.png) center center;
    position: relative;
    top: -10px;
}

.wedding-announcement .content {
    text-align: center;
}

.wedding-announcement .content h3 {
    font-family: 'Lobster', cursive;
    font-size: 48px;
}

.wedding-announcement .content h4 {
    background: url(../themes/heading-heart.png) no-repeat center 35px;
    font-family: 'Roboto Slab', serif;
    margin: 55px 0 0;
    padding-bottom: 50px;
}





.wedding-announcement .left-col h3 {
    /*position: absolute;
     left: -150px;
    bottom: 200px; */
    position: absolute;
    left: -45%;
    margin-top: 45px;
}

.wedding-announcement .right-col h3 {
    position: absolute;
    right: -45%;
    margin-top: 45px;
}

/*image frame*/
.wedding-announcement .frame {
    position: relative;
    overflow: hidden;
}

.wedding-announcement .frame img:first-child {
    position: relative;
    z-index: 5;
}

.wedding-announcement .frame img:last-child {
    width: 95%;
    position: absolute;
    top: 10px;
    left: 8px;
}

.wedding-announcement .signature {
    margin: 30px 0 0;
}

/*heart*/
.wedding-announcement .heart {

    width: 90px;
    height: 103px;
    position: absolute;
    top: 50%;
    left: 47%;
}

/*slider*/
header .slider {
    width: 100%;
    min-height: 729px;
    text-align: center;
    /*    margin-top: 100px;*/
    padding-top: 100px;
}

header .slider .slide-item {
    width: 100%;
    height: 729px;
}


/*********** slider image setting ***********/
header .slider .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/*slider pagination*/
header .slider .owl-buttons .owl-prev,
header .slider .owl-buttons .owl-next {
    background: none;
    font-size: 50px;
    padding: 0;
    opacity: 1;
    position: absolute;
    top: 62%;
    z-index: 100;
}

header .slider .owl-buttons .owl-prev {
    left: 100px;
}

header .slider .owl-buttons .owl-next {
    right: 100px;
}

header .slider .owl-pagination {
    display: none !important;
}

/*--------------------------------------------------------------
#1.3	love-story
--------------------------------------------------------------*/
.svg-size {
    width: 130px !important;
    height: 130px !important;
}

.love-story {
    background-color: #fef0ee;
    margin-top: -10px;
    overflow: hidden;
}

.love-story .content .row {
    margin-bottom: 55px;
}

.love-story .content .row:last-child {
    margin-bottom: 0;
}

.love-story .content .row:nth-child(even) {
    text-align: right;
}

.love-story .content .row>.col {
    background-color: #fff;
    padding: 0;
}

.love-story .content .row>.col .col:first-child {
    padding: 25px 0 25px 25px;
}

.love-story .content .row>.col .col:last-child {
    padding-right: 0;
}

.love-story .content h3 {
    font-size: 35px;
    color: #1e1e1e;
    margin: 0 0 20px;
    font-family: 'Dancing Script', cursive;
}

.love-story .content h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: var(--primary-color);
    margin: 0 0 10px;
}

.love-story .content h4+p {
    margin: 0;
}

/*middle row*/
.love-story .middle .col:first-child {
    padding: 0 !important;
}

.love-story .middle .col:last-child {
    padding: 25px 25px 25px 0 !important;
}

.love-story .middle .frame {
    margin: 0 47px 0 0;
}

.love-story .middle .frame img:last-child {
    right: 0;
}

/*frame*/
.love-story .frame {
    height: 70px;
    width: 70px;
    padding: 50px;
}

.love-story .frame img {
    position: relative;
    z-index: 5;
}

.love-story .frame img .heart-color {
    fill: var(--primary-color);
}

.doodle-1 {
    position: relative;
}

.doodle-2 {
    position: relative;
}

.doodle-3 {
    position: relative;
    top: 20px;
}

.doodle-4 {
    position: relative;
    bottom: 30px;
}

.doodle-5 {
    position: relative;
    bottom: 35px;
}

.story-block {
    border: 10px solid #fef0ee;
    border-radius: 5px;
    min-height: 235px;
}

.story1 {
    height: 140px !important;
    width: 140px !important;
}

.story2 {
    height: 170px !important;
    width: 170px !important;
}

@media only screen and (max-width: 675px) {
    .love-story .content .col-xs-12 .col {
        width: 100%;
        padding-right: 6px;
    }

    .love-story .frame {
        width: 100%;
        margin: 0 !important;
    }

    .love-story h4+p {
        padding-right: 20px;
    }

    .love-story .middle-row h4+p {
        padding-right: 0;
        padding-left: 20px;
    }

    .story-block-item {
        text-align: center;
    }

    .story-block {
        display: flex;
        flex-direction: column;
    }

    .middle-row .story-block {
        display: flex;
        flex-direction: column-reverse;
    }
}

/*--------------------------------------------------------------
#1.7	groomsmen-bridesmaids
--------------------------------------------------------------*/
.groomsmen-bridesmaids {
    overflow: hidden;

}

.groomsmen-bridesmaids .content {
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    margin-top: 150px;
    padding-bottom: 100px;
    position: relative;
}

.groomsmen-bridesmaids .content:after {
    content: "";
    width: 100%;
    height: 32px;
    display: block;
    background: url(../themes/bottom-shape.png) repeat-x;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.groomsmen-bridesmaids .content .col {
    text-align: center;
}

.groomsmen-bridesmaids .frame {
    position: relative;
    margin-top: -127px;
    overflow: hidden;
}

.groomsmen-bridesmaids .frame img {
    border-radius: 50%;
}

.groomsmen-bridesmaids .frame img:first-child {
    width: 100%;
    position: relative;
    z-index: 5;
}

.groomsmen-bridesmaids .frame img:last-child {
    width: 88%;
    position: absolute;
    top: 18px;
    left: 13px;
}

.groomsmen-bridesmaids .content h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    color: #1e1e1e;
    text-transform: uppercase;
}

.groomsmen-bridesmaids .content span {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.groomsmen-bridesmaids .overlay,
.journal .overlay {
    background-color: var(--primary-color);
    opacity: .8;
    width: 92%;
    height: 92%;
    text-align: center;
    z-index: 10;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 51%;
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
    transform: translate(-50%, -50%) scale(0, 0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.groomsmen-bridesmaids .overlay div,
.journal .overlay div {
    background-color: #fff;
    display: block;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.groomsmen-bridesmaids .overlay div span,
.journal .overlay div span {
    width: 100%;
    font-size: 15px;
    color: #df2349;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.groomsmen-bridesmaids .frame:hover .overlay,
.journal .frame:hover .overlay {
    background-image: url(../images/home/groomsmen-bridesmaids/hover-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
}


/*--------------------------------------------------------------
#1.4	video-bg
--------------------------------------------------------------*/
.video-section {
    height: 100vh;
}

@media only screen and (max-width: 800px) {
    .video-section {
        height: 50vh;
    }
}

.video-bg {
    background: url(../images/video-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 540px;
    position: relative;
}

.video-bg .overlay {
    background-color: var(--primary-color);
}

.video-bg a {
    width: 71px;
    height: 71px;
    text-align: center;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video-bg a i {
    font-size: 36px;
    color: #fa235c;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video-bg a:hover,
.video-bg a:focus,
.video-bg a:active {
    background: #fff !important;
}

.date-block {
    height: 200px;
    width: 200px;
    position: fixed;
    top: 300px;
    right: -44px;
    z-index: 1099;
}

.date-block img {
    position: relative;
    left: 67px;
    filter: drop-shadow(0px 1px 0px grey);
}

.date-block h3 {
    font-size: 15px !important;
    text-align: center;
    color: var(--primary-color);
    position: absolute;
    bottom: 135px;
    right: 42px;
    transform: rotate(-30deg);
}

.date-block .ribbon-color {
    fill: var(--primary-color);
}

@media only screen and (max-width: 767px) {
    .date-block {
        display: none;
    }
}

@media only screen and (max-width: 769px) {
    .rsvp-bg .rsvp-content {
        margin-top: -35% !important;
    }

    header .slider {
        /*        margin-top: 70px;*/
        padding-top: 70px;
    }

    /*
    header .slider .slide-img-1 {
        background: url(../images/home/slider/both2.jpg) !important;
        background-size: cover !important;
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;
    }
*/

}

.rsvp-bg {
    width: 100%;
}

.rsvp-bg .flower-box-bg {
    max-height: 500px;
    width: 80%;
    margin: 0 auto;
    display: block;
}

.rsvp-bg .rsvp-content {
    margin-top: -390px;
    margin-bottom: 10%;
    text-align: center;
}

.rsvp-bg .rsvp-content p {
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
}

.rsvp-bg .rsvp-content button {
    margin: 40px 200px;
    background-color: orange;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}

.rsvp-bg .rsvp-content svg {
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
}

.rsvp-bg .rsvp-content .smiley-color {
    fill: var(--primary-color);
}

.h-message {
    top: 20px;
    position: relative;
}

.smily-mouth {
    transform: rotateX(90deg);
    transform-origin: 50% 30%;
}

.popup-confirmation {
    color: darkgreen;
    display: none;
    width: 270px;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 350px;
    background-color: #d3f5cb !important;
}

@media only screen and (max-width: 1100px) {
    .popup-confirmation {
        bottom: 240px;
    }

    .rsvp-content button {
        margin: 0px 100px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .popup-confirmation {
        bottom: 190px;
    }

    .rsvp-content button {
        padding: 5px;
    }

    .rsvp-content svg {
        margin-bottom: 0px !important;
    }
}

@media only screen and (max-width: 800px) {
    .rsvp-bg img {
        width: 95%;
    }

    .rsvp-bg .rsvp-content svg {
        display: none;
    }

    .rsvp-bg .rsvp-content button {
        margin: 0px 30px !important;
        font-size: 13px;
    }

    .popup-confirmation {
        margin-top: 30%;
        width: 163px;
    }

    .popup-confirmation p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .rsvp-content p {
        font-size: 18px !important;
    }

    .rsvp-content button {
        margin: 0px 30px !important;
        font-size: 11px;
    }

    .rsvp-content .buttons-ctr {
        margin-top: 50px;
    }

    .popup-confirmation {
        margin-top: 38%;
    }
}

@media only screen and (max-width: 550px) {
    .rsvp-content {
        margin-top: -34% !important;
    }

    .rsvp-content p {
        font-size: 15px !important;
    }

    .rsvp-content .buttons-ctr {
        margin-top: 20px !important;
    }

    .popup-confirmation {
        margin-top: 45%;
    }
}

@media only screen and (max-width: 450px) {
    .rsvp-bg img {
        height: 180px;
    }

    .rsvp-content {
        margin-top: -42% !important;
    }

    .rsvp-content p {
        font-size: 18px !important;
        width: 60%;
        margin: 0 auto;
        line-height: 1;
    }

    .rsvp-content button {
        font-size: 12px;
        padding: 5px !important;
    }

    .rsvp-content .buttons-ctr {
        margin-top: 5px;
    }

    .popup-confirmation {
        margin-top: 62%;
    }
}

@media only screen and (max-width: 350px) {
    .rsvp-content p {
        font-size: 15px !important;
    }

    .rsvp-content button {
        margin: 0px 8px !important;
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 900px) {
    .flower-box-bg {
        width: 95%;
    }

    .rsvp-h-wrapper {
        margin-top: 12px;
    }

    .h-btn img {
        max-width: 45px !important;
        height: 60px !important;
    }

    .rsvp-h-btn {
        margin-top: 5px;
    }

    .rsvp-h-yes-pos {
        transform: translate(-20px, 20%) rotateZ(-60deg) !important;
    }

    .rsvp-h-no-pos {
        transform: translate(20px, 20%) rotateZ(60deg) !important;
    }
}

/* RSVP YES-NO BUTTON CSS AND ANIMATION */
.rsvp-h-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.rsvp-h-wrapper .rsvp-h-btn {
    display: flex;
    justify-content: space-around;
    transition: 0.3s all;
    transform: scale(1);
}

.rsvp-h-wrapper .rsvp-h-btn .rsvp-h-yes {
    cursor: pointer;
    transform: translate(0px, 0%) rotateZ(0deg);
    transition: 1.4s all;
}

.rsvp-h-wrapper .rsvp-h-btn .rsvp-h-yes img {
    margin: 0;
    width: 100%;
    max-width: 70px;
}

.rsvp-h-wrapper .rsvp-h-btn .rsvp-h-yes-pos {
    transform: translate(-240px, 35%) rotateZ(-60deg);
}

.rsvp-h-wrapper .rsvp-h-btn .rsvp-h-no {
    cursor: pointer;
    transform: translate(0px, 0%) rotateZ(0deg);
    transition: 1.4s all;
}

.rsvp-h-wrapper .rsvp-h-btn .rsvp-h-no img {
    margin: 0;
    width: 100%;
    max-width: 70px;
}

.rsvp-h-wrapper .rsvp-h-btn .rsvp-h-no-pos {
    transform: translate(240px, 35%) rotateZ(60deg);
}

.rsvp-text {
    margin-top: 30px !important;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Theme Reset Style
#0.2	Global Elements 


=========================================================
1.	index page
=========================================================
#1.1	header
#1.2	wedding-announcement
#1.3	love-story
#1.4	video-bg
#1.5	event
#1.6	groomsmen-bridesmaids
#1.7	gift-registration
#1.8	rsvp
#1.9	journal
#1.10	wedd-location
#1.11	footer


=========================================================
2.	blog
=========================================================
#2.1	blog-content


=========================================================
3.	blog-details
=========================================================
#3.1	blog-details-content


=========================================================
4.	blog-masonry
=========================================================
#4.1	blog-masonry-content


=========================================================
5.	comming-soon
=========================================================
#5.1	comming-soon-content




*/
/*--------------------------------------------------------------
#0.2	Global Elements 
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    .banar .banar-title {
        top: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 100px 0;
    }

    .section-heading {
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-heading h2 {
        font-size: 35px;
        line-height: 31px;
    }

    .section-heading p {
        font-size: 16px;
    }

    .banar .banar-title {
        top: 50% !important;
        height: auto !important;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .banar .banar-title h1 {
        font-size: 35px;
    }

    .banar .banar-title p {
        font-size: 16px;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 500px) {
    h3 {
        font-size: 25px !important;
    }

    .section-padding {
        padding: 90px 0;
    }

    .section-heading {
        padding-left: 0;
        padding-right: 0;
    }

    .section-heading h2 {
        background-position: center 40px;
        font-size: 30px;
    }

    .section-heading p {
        font-size: 15px;
    }
}

/*=========================================================
1.	index page
=========================================================*/
/*--------------------------------------------------------------
#1.1	header
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
    #navbar a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 991px) {

    /*navbar*/
    /*header .navbar {
		background: url(../images/header-sm-bg.png) repeat-x;
		height: 95px;
	}*/
    header .smaller {
        height: 75px;
    }

    #navbar a {
        font-size: 15px;
    }

    header .navbar .container {
        padding: 0;
    }

    /*theme-logo*/
    header .theme-logo a>div {
        width: 80px;
        height: 80px;
    }

    header .theme-logo span {
        font-size: 18px;
    }

    header .theme-logo a>div div span:first-child {
        margin-bottom: 10px;
    }

    /*title*/
    header .title-bg {
        background: url(../themes/title-sm-bg.png) no-repeat center center;
        height: 262px;
        top: 70%;
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
    }

    header .title h1 {
        font-size: 25px;
        margin: 15px 0 20px;
    }

    header .title h2 {
        font-size: 70px;
        margin: 0 0 15px;
    }

    header .title .date {
        font-size: 25px;
    }

    /*slider*/
    header .slider .owl-buttons .owl-prev,
    header .slider .owl-buttons .owl-next {
        top: 58%;
    }
}

@media only screen and (max-width: 767px) {

    /*navbar*/
    header .navbar {
        background: none;
        height: auto;
        overflow: hidden;
    }

    header .navbar-header button {
        border: 1px solid #fff;
        right: 15px;
        top: 10px;
    }

    header .navbar-header button span {
        background: #fff;
    }

    #navbar {
        border-top: 0;
    }

    #navbar a {
        color: #fff;
        font-size: 15px;
        padding: 10px 05px 10px 25px;
    }

    #navbar a:hover {
        background-color: #ec8f04 !important;
    }

    /*drop-dwon*/
    #navbar .dropdown-menu {
        background-color: #fff;
        width: 100%;
        border-top: 0;
        left: 45px;
    }

    header .navbar-brand {
        font-family: 'Lobster', cursive;
        width: auto;
        height: auto;
        color: #fff;
        font-size: 22px;
        padding: 0;
        display: inline-block;
        margin: 25px 0 0 35px;
    }

    header .title-bg {
        top: 60%;
        -webkit-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
    }

    /*slider*/
    header .slider .owl-buttons .owl-prev,
    header .slider .owl-buttons .owl-next {
        top: 52%;
    }

    header .slider .owl-buttons .owl-prev {
        left: 15px;
    }

    header .slider .owl-buttons .owl-next {
        right: 15px;
    }
}

@media only screen and (max-width: 535px) {

    /*slider*/
    header .slider {
        /*        margin-top: 70px;*/
        padding-top: 70px;
        min-height: 600px;
    }

    /*
    header .slider .slide-img-1 {
        background: url(../images/home/slider/both2.jpg) !important;
        background-size: cover !important;
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;

    }
*/

    header .slider .slide-item {
        height: 600px;
    }

    /*title*/
    header .title-bg {
        background: url(../images/title-xs-bg.png) no-repeat center center;
        height: 183px;
    }

    header .title h1 {
        font-size: 18px;
        margin: 10px 0 12px;
    }

    header .title h2 {
        font-size: 50px;
        margin: 0 0 7px;
    }

    header .title .date {
        font-size: 18px;
    }

    /*pagination*/
    header .slider .owl-buttons .owl-prev,
    header .slider .owl-buttons .owl-next {
        display: none !important;
    }

    header .slider .owl-pagination {
        display: block !important;
    }

    header .slider .owl-controls {
        width: 100%;
        position: absolute;
        bottom: 100px;
    }

    header .slider .owl-controls span {
        background: #df2349 !important;
    }
}

/*--------------------------------------------------------------
#1.2	wedding-announcement
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
    .wedding-announcement .content h3 {
        display: none;
    }

    .wedding-announcement .left-col,
    .wedding-announcement .right-col {
        background: none;
    }

    .wedding-announcement .frame img:last-child {
        top: 8px;
    }
}

@media only screen and (max-width: 767px) {
    .wedding-announcement .frame img:last-child {
        width: 100%;
        width: 94%;
        top: 8px;
        left: 9px;
    }

    .wedding-announcement .heart {

        width: 60px;
        height: 69px;
        top: 55%;
        left: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .wedding-announcement {
        background-image: none, url(../themes/announcement-bg.png);
    }

    .wedding-announcement .heart {
        display: none;
    }

    .wedding-announcement .content>.col .col {
        width: 100%;
        margin-bottom: 100px;
    }

    .wedding-announcement .right-col .col {
        margin-bottom: 0 !important;
    }

    .wedding-announcement .frame {
        width: 70%;
        margin: 0 auto;
    }

    .wedding-announcement .frame img:first-child {
        visibility: hidden;
    }

    .wedding-announcement .singnature {
        font-size: 25px;
        margin: 20px 0 0;
    }
}

/*--------------------------------------------------------------
#1.3	love-story
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
    .love-story .frame img:first-child {
        width: 237px;
    }
}

@media only screen and (max-width: 991px) {
    .love-story .middle .frame {
        margin: 0 24px 0 0;
    }
}

@media only screen and (max-width: 767px) {
    .love-story .content .row .col .col:last-child {
        padding-right: 15px;
    }

    .love-story .padding-left {
        padding-left: 15px !important;
        margin-right: 0;
    }

    .love-story .content h3 {
        font-size: 25px;
    }

    .love-story .content h4 {
        font-size: 20px;
    }

    /*frame*/
    .love-story .frame img:first-child {
        display: none;
    }

    .love-story .frame img:last-child {
        position: static;
    }

    .love-story .frame {
        margin-left: 15px;
    }

    .love-story .middle .frame {
        margin-right: 15px;
    }
}

/*--------------------------------------------------------------
#1.4	video-bg
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .video-bg {
        height: 300px;
    }

    .video-bg a {
        width: 50px;
        height: 50px;
    }

    .video-bg a i {
        font-size: 20px;
    }
}

/*--------------------------------------------------------------
#1.5	event
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    .event .content {
        text-align: center;
    }

    .event .content .row {
        margin-bottom: 100px;
    }

    .event .event-frame {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 767px) {
    .event .content .row span {
        font-size: 14px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 500px) {
    .event h3+p+p {
        text-align: center;
    }

    .event .content .row a {
        /*
		background: #df2349;
		color: #fff;
		padding: 4px 7px;
		border-radius: 5px;
*/
        font-size: 14px;
        /*
		margin-top: 0;
		text-align: left;
		float: left;
*/
    }
}

/*--------------------------------------------------------------
#1.6	groomsmen-bridesmaids
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
    .groomsmen-bridesmaids .frame {
        margin-top: -107px;
    }
}

@media only screen and (max-width: 991px) {
    .groomsmen-bridesmaids .frame {
        margin-top: -94px;
    }

    .groomsmen-bridesmaids .content .col {
        padding: 0;
    }

    .groomsmen-bridesmaids .content h3 {
        font-size: 17px;
    }

    .groomsmen-bridesmaids .content span {
        font-size: 13px;
    }

    .groomsmen-bridesmaids .overlay div span,
    .journal .overlay div span {
        font-size: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .groomsmen-bridesmaids {
        padding-bottom: 0;
    }

    .groomsmen-bridesmaids .content {
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 0 !important;
    }

    .groomsmen-bridesmaids .frame {
        margin-top: 0;
    }

    .groomsmen-bridesmaids .frame img:nth-child(2) {
        position: relative;
        z-index: 5;
        width: 98%;
        top: 4px;
        left: -2px;
    }

    .groomsmen-bridesmaids .content .col {
        padding: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .groomsmen-bridesmaids .content h3 {
        font-size: 17px !important;
    }

    .groomsmen-bridesmaids .content span {
        font-size: 18px !important;
    }

    .groomsmen-bridesmaids .content .container>.col {
        width: 100%;
        margin-bottom: 50px;
    }

    .groomsmen-bridesmaids .content .container>.col:last-child {
        margin-bottom: 0;
    }

    .groomsmen-bridesmaids .overlay div span,
    .journal .overlay div span {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 375px) {
    .groomsmen-bridesmaids .content h3 {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 320px) {
    .groomsmen-bridesmaids .section-heading h2 {
        font-size: 25px;
    }
}

/*--------------------------------------------------------------
#1.7	gift-registration
--------------------------------------------------------------*/






/*--------------------------------------------------------------
#1.8	rsvp
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .rsvp .from-wrapper {
        background-size: 100% 823px;
        height: 823px;
    }

    .rsvp form input,
    .rsvp form select,
    .rsvp form textarea {
        height: 40px;
        font-size: 16px;
    }

    .rsvp form textarea {
        height: 160px;
        padding: 15px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .rsvp .form-inline {
        padding: 160px 10px 40px 10px;
    }

    .rsvp form input[type="submit"] {
        font-size: 16px;
        padding: 0 40px;
        height: 40px;
    }

    .rsvp form input,
    .rsvp form select,
    .rsvp form textarea {
        font-size: 15px;
        width: 100% !important;
    }
}

@media only screen and (max-width: 320px) {
    .rsvp-text {
        margin-top: 0px !important;
    }
}

/*--------------------------------------------------------------
#1.9	journal
--------------------------------------------------------------*/






/*--------------------------------------------------------------
#1.10	wedd-location
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    .wedd-location .container .row:last-child>.col {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 767px) {
    .wedd-location h3 {
        margin-bottom: 20px;
    }

    .wedd-location .container .row:last-child>.col {
        padding: 0 15px 100px;
    }

    .wedd-location .container .row:last-child>.col:last-child {
        padding-bottom: 0;
    }
}

/*--------------------------------------------------------------
#1.11	footer
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    footer h2 {
        font-size: 45px;
    }

    footer .row:first-child span {
        font-size: 25px;
    }
}

@media only screen and (max-width: 767px) {
    footer h2 {
        font-size: 35px;
    }

    footer .row:first-child span {
        font-size: 20px;
    }

    footer .row:last-child {
        padding-left: 15px;
    }

    footer .container .col {
        width: 100%;
    }

    footer ul {
        margin-top: 15px;
    }

    footer ul li:first-child {
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    footer h2 {
        font-size: 30px;
    }

    footer .row:first-child span {
        font-size: 20px;
    }
}

/*=========================================================
2.	blog
=========================================================*/
/*--------------------------------------------------------------
#2.1	blog-content
--------------------------------------------------------------*/


/*=========================================================
3.	blog-details
=========================================================*/
/*--------------------------------------------------------------
#3.1	blog-details-content
--------------------------------------------------------------*/






/*--------------------------------------------------------------
#4	blog-masonry
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#4.1	blog-masonry-content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#5	comming-soon
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#5.1	comming-soon-content
--------------------------------------------------------------*/






/*
Theme Name:  True-Love-Bootstrap Wedding Template
Theme URI: http://true-love.themexriver.com
Author: themexriver
Description: True-Love-Bootstrap Wedding Template
Version: 1.0
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Theme Reset Style
#0.2	Global Elements 


=========================================================
1.	index page
=========================================================
#1.1	header
#1.2	wedding-announcement
#1.3	love-story
#1.4	video-bg
#1.5	event
#1.6	gallery
#1.7	groomsmen-bridesmaids
#1.8	gift-registration
#1.9	rsvp
#1.10	journal
#1.11	wedd-location
#1.12	footer


=========================================================
2.	blog
=========================================================
#2.1	blog-header
#2.2	blog-content


=========================================================
3.	blog-details
=========================================================
#3.1	blod-details-header
#3.2	blog-details-content


=========================================================
4.	blog-masonry
=========================================================
#4.1	blog-masonry-header
#4.2	blog-masonry-content


=========================================================
5.	404
=========================================================
#5.1	404-header


=========================================================
6.	comming-soon
=========================================================
#6.1	comming-soon-content





*/
/*--------------------------------------------------------------
#0.1	Theme Reset Style
--------------------------------------------------------------*/
body {
    font-family: 'Roboto Slab', serif;
    color: #1e1e1e;
}

h1 {
    font-family: 'Lobster', cursive;
}

h3 {
    color: #1e1e1e;
    font-size: 30px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 14px;
    line-height: 30px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a,
a:hover {
    text-decoration: none !important;
}

a:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

::-webkit-input-placeholder {
    opacity: 1 !important;
}

input::-moz-placeholder {
    opacity: 1 !important;
}

input:-moz-placeholder {
    opacity: 1 !important;
}

/*--------------------------------------------------------------
#0.2	Global Elements 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#1	index-page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#1.8	gift-registration
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#1.9	rsvp
--------------------------------------------------------------*/
.rsvp {
    background: url(../images/home/rsvp-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.rsvp .overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

.rsvp .from-wrapper {
    background: url(../images/home/rsvp-form-bg.png) no-repeat 50% 50%;
    background-size: 100% 723px;
    height: 723px;
    padding: 0;
}

.rsvp .form-inline {
    padding: 160px 45px 40px 50px;
    position: relative;
    overflow: hidden;
}

.rsvp .form-inline .col {
    margin-bottom: 20px;
}

.rsvp form input,
.rsvp form select,
.rsvp form textarea {
    background-color: rgba(255, 255, 255, 0.6);
    width: 98% !important;
    height: 50px;
    font-size: 18px;
    font-weight: lighter;
    color: #1e1e1e;
    border: 1px solid #b8b8b8;
}

.rsvp form textarea {
    height: 200px;
    padding: 15px;
    border-radius: 5px;
}

.rsvp form input[type="submit"] {
    background-color: #df2349;
    width: auto !important;
    color: #fff;
    padding: 0 100px;
    border: 1px solid #fff;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transition: all 0.3s;
}

.rsvp form input[type="submit"]:hover {
    background-color: #ec3e61;
}

.rsvp::-webkit-input-placeholder {
    color: #1e1e1e;
    opacity: 1 !important;
}

.rsvp:-moz-placeholder {
    color: #1e1e1e;
    opacity: 1 !important;
}

.rsvp::-moz-placeholder {
    color: #1e1e1e;
    opacity: 1 !important;
}

.rsvp:-ms-input-placeholder {
    color: #1e1e1e;
    opacity: 1 !important;
}

/*--------------------------------------------------------------
#1.10	journal
--------------------------------------------------------------*/


/*hover-title*/


/*bottom-links*/


/*--------------------------------------------------------------
#1.11	wedd-location
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#2	blog
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#2.1	blog-header
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#2.2	blog-content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#3	blog-details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#3.1	blog-details-header
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#3.2	blog-details-content
--------------------------------------------------------------*/


/*comment-submit-form*/


/*--------------------------------------------------------------
#4	blog-masonry
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#4.1	blog-masonry-header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#4.2	blog-masonry-content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#5	404
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#5.1	404-header
--------------------------------------------------------------*/
#error-404 .banar {
    background-image: url(../images/error-404-banar.jpg);
    height: 684px;
}

#error-404 .banar h2 {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    margin-bottom: 20px;
}

#error-404 .banar a {
    background-color: #df2349;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px 40px;
    margin-top: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#error-404 .banar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#error-404 .banar-title {
    position: absolute;
    top: 45%;
    text-align: center;
}

/*--------------------------------------------------------------
#6	comming-soon
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#6.1	comming-soon-content
--------------------------------------------------------------*/



/*css3 animation*/
.logo-rotating {
    -webkit-animation: logo-rotating 20s linear infinite;
    animation: logo-rotating 20s linear infinite;
}

@-webkit-keyframes logo-rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes logo-rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.heart-animation {
    -webkit-animation: heart-animation 2s ease-in-out infinite alternate;
    -webkit-transform-origin: bottom;
    animation: heart-animation 2s ease-in-out infinite alternate;
    transform-origin: bottom;
}

@-webkit-keyframes heart-animation {
    0% {
        -webkit-transform: rotateZ(20deg);
    }

    100% {
        -webkit-transform: rotateZ(-20deg);
    }
}

@keyframes heart-animation {
    0% {
        transform: rotateZ(20deg);
    }

    100% {
        transform: rotateZ(-20deg);
    }
}

.inviname {
    position: absolute;
    top: 31%;
    width: 100%;
    text-align: center;
    z-index: 190;
    color: white;
    font-size: -webkit-xxx-large;
}

.inviinvi {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    z-index: 190;
    color: white;
    font-size: xx-large;
}

.photoquote {
    color: white;
    width: 100%;
    text-align: center;
    /* z-index: 000; */
    margin-top: 20%;
    position: absolute;
    font-size: -webkit-xxx-large;
}

.odd-event {
    flex-direction: row-reverse;
}

.event-div {
    display: flex;
    align-items: center;
}



.main-ceremony {
    display: none;
}

@media only screen and (min-width: 768px) {
    .gallery_product:last-child {
        display: none;
    }

    .wedding-announcement .frame {
        overflow: visible;
    }

    /* RIGHT AND LEFT DOT CHENGES */

    .wedding-announcement .frame::before {
        content: "";
        position: absolute;
        bottom: -40px;


        width: 100%;
        height: 45%;
    }

    .wedding-announcement .left-col .frame::before {
        background: url(../themes/svgs/left-dot.svg) no-repeat left bottom/contain;
        left: -50%;
    }

    .wedding-announcement .right-col .frame::before {
        background: url(../themes/svgs/right-dot.svg) no-repeat right bottom/contain;
        right: -53%;
    }


}

@media only screen and (max-width: 767px) {
    .date-block {
        display: none !important;
    }
}

.all-priority{
    display: none;
}